:root {
  --togglegray: #5C5C5C;
  --toggleactive: #EFEFEF;
  --fontgray: #424242;
  --gray: #797979;
  --lightgray: #C4C4C4;
  --mobilegray: #868686;
  --darkgray: #525252;
  --darkergray: #404040;
  --darkbackgroundgray: #8E8E8E;
  --btngray: #626262;
  --hovergray: #EDEDED;
  --blue: #00C9CC;
  --fontblack: #262626;
  --elementblack: #080808;
  --red: #E30000;
  --mediagray: #898989;
  --textgray: #BFBFBF;
  --darkred: #724242;
  --darkestgray: #1A1A1A;
  --elementbackground: #B9B9B9;
  --customwhite: #EBEBEB;
  --bordergray: #CCCCCC;
}
