@import url("/css/color_vars.css");

body {
  font-family: 'Arial';
  font-size: 12px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

button:not(.no_hover):hover {
  opacity: 1;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

input[type=radio]:hover {
  cursor: pointer !important;
}

/* remove standard-styles */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
}

/* styling */
select {
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  color: #474747;
  font-weight: 400;
  height: 21px;
  padding: 0px 0px 0px 3px;
  background-color: white;
  background-image: url("/signed/src/icns/dropdown.svg");
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-right: 10px;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

select:focus {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

input:-moz-focusring {
  outline: none;
}

input:focus {
  outline: none;
}

span:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

span:focus {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

select:hover {
  cursor: pointer;
  /*box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);*/
}

.cursor_pointer:hover {
  cursor: pointer;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #CCCCCC;
}

::placeholder {
  color: #CCCCCC;
  font-weight: 400;
}

input {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  padding: 3px 10px
}

/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
}

/*Fonts*/
.font_weight_heavy {
  font-weight: 600;
}

.text_align_center {
  text-align: center;
}

/*toggle Btns*/
.toggle_btn_wrapper {
  overflow: hidden;
  height: auto;
  width: auto;
}

.toggle_btn {
  width: 60px;
  float: left;
  height: 19px;
  text-align: center;
  border: none;
  background: none;
  color: #FFF;
}

.toggle_btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle_btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle_btn {
  background-color: #E6E6E6;
  color: #AAA;
}

.toggle_btn.active {
  background-color: #2A2E32;
  color: #FFF;
}

.bottom_right_btns {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.bottom_right_btns>button {
  float: left;
  margin-left: 10px;
  width: 88px;
}

.bottom_left_div {
  position: absolute;
  bottom: 20;
  left: 30;
}

.error_message {
  font-size: 10px;
  color: red;
  display: none;
}

.link_btn {
  border: none;
  background: none;
  text-decoration: underline;
  padding: 0px;
  margin-left: 5px;
}

.datepicker {
  width: 100px;
  border-radius: 5px;
  background-image: url(/signed/src/icns/calendar_datepicker.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 7px);
  background-position-y: center;
}

input:disabled {
  background-color: #FFF;
}

.button_img {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.button_invisible {
  border: none;
  background: none;
}

.spacer_line {
  border-bottom: 1px solid #CCC;
  width: 100%;
  clear: both;
  margin: 20px 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.display_none {
  display: none;
}

.icn_small {
  height: 18px;
}

/*Tooltip*/
.tooltip {
  position: relative;
}

.tooltip span {
  display: none;
  position: absolute;
  padding: 5px;
  z-index: 100;
  color: #FFF;
  background-color: #808080;
  bottom: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.tooltip:hover span {
  display: block;
}

/*Buttons*/
.gray_btn {
  background-color: #9D9D9D;
}

.darkgray_btn {
  background-color: #626262;
}

.darkestgray_btn {
  background-color: rgba(29, 29, 29, 0.3);
}

.blue_btn {
  background-color: var(--blue);
}

.darkred_btn {
  background-color: var(--darkred);
}

.darkred_btn:hover {
  background-color: var(--red);
}

.red_btn {
  background-color: var(--red);
}

.normal_button {
  width: 117px;
  height: 24px;
  border: none;
  text-align: center;
  margin: 10px auto;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
}

.normal_button_edgy {
  border: none;
  text-align: center;
  margin: 10px auto;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 10px;
}

.spacer_50 {
  height: 50px;
}

.hidden_scrollbar {
  scrollbar-width: none;
}

.hidden_scrollbar::-webkit-scrollbar {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.darktrans_select {
  background: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  background-image: url(/signed/src/icns/dropdown_white.svg);
  background-position: calc(100% - 4px);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-right: 20px;
  border-radius: 2px;
}

.darktrans_select:focus {
  color: white;
  outline: none;
}

.border_div {
  width: 95%;
  border: 1px solid #CCC;
  margin: auto;
}

.info_message {
  font-size: 7px;
}

.full_absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}

.overflow_hidden {
  overflow: hidden;
}

.deep_hide{
  display: none!important;
}
