body{
  width: 100%;
  margin: 0;
  background-color: black;
}

.search_background{
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}

.search_background>img{
  width: 100%;
}

#weiter{
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-style: none;
  font-family: Arial;
}

#register{
  position: absolute;
  top: 30px;
  right: 15%;
  color: black;
  font-style: none;
  font-family: Arial;
  background-color: white;
  height: 25px;
  width: 120px;
  border-radius: 2px;
  padding-top: 5px;
  text-align: center;
}
