body {
  background-color: var(--darkgray);
  color: #fff;
}

.top_wrapper_fixed {
  width: 80%;
  padding: 0 10%;
  top: 40px;
  height: 120px;
  position: fixed;
  background-color: var(--darkgray);
  z-index: 1;
}

.outer_wrapper {
  padding-top: 200px;
  width: 80%;
  margin: auto;
  z-index: 0;
}

.progressbar_wrapper {
  margin: 30px auto 0;
  width: 95%;
  border-bottom: 2px solid #ccc;
}

.progressbar_desc {
  padding: 10px;
}

.progressbar_desc.complete {
  border-bottom: 2px solid #1592e6;
  width: 80%;
  margin-bottom: -2px;
}

.progress_header {
  font-weight: 600;
  margin: 30px 0px 50px calc(2.5% + 10px);
}

/*Templates*/
.template_outer_wrapper {
  width: 100%;
  overflow: hidden;
}

.template_wrapper {
  width: calc(50% - 30px);
  margin-bottom: 20px;
  overflow: hidden;
}

.template_body {
  width: 100%;
  background-color: #404040;
  padding-bottom: 56%;
  margin-bottom: 5px;
  position: relative;
}

.template_body_inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.template_body_inner > img {
  width: 100%;
}

.template_desc {
  width: calc(100% - 20px);
  margin: auto;
}

.template_desc > .left {
  padding-top: 10px;
}

.template_desc > .right > button,
.template_desc > .right > a > button {
  background-color: #c9c9c9;
  opacity: 0.23;
  height: 21px;
  width: 88px;
}

.template_desc > .right > .preview {
  margin-right: 10px;
}

.template_wrapper:hover > .template_desc > .right > .preview {
  background-color: var(--lightgray);
  opacity: 1;
}

.template_wrapper:hover > .template_desc > .right > a > .choose {
  background-color: var(--blue);
  opacity: 1;
}

.template_desc > .right > button:hover,
.template_desc > .right > a > button:hover {
  opacity: 0.8 !important;
}
