body {
	width: 100vw;
	height: 100vh;
	position: relative;
	color: #fff;
	overflow: hidden;
	background: #000;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('/signed/src/backgrounds/onboarding_background.jpg');
	background-position: bottom;
	background-size: cover;
	z-index: 2;
	margin: -5px;
	opacity: 0.6;
	filter: blur(3px);
}

h3 {
	font-size: 20px;
	font-weight: 100 !important;
	margin-bottom: 5%;
}

input::placeholder {
	color: rgba(235, 235, 235, 0.5);
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	float: left;
	/* Farbverlauf: 0 - 30% danach schwarz */
	/*background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.11) 3%,
    rgba(0, 0, 0, 1) 32%
  );*/
}

.input_wrapper {
	font-size: 14px;
	margin-bottom: 7%;
}

.input_desc {
	width: 30%;
	float: left;
}

.input_wrapper > input {
	padding-top: 0px;
	padding-bottom: 3px;
	width: 70%;
	padding-left: 5%;
	font-size: 14px;
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	color: #ebebeb;
}

#url_check_icn {
	width: 3%;
}

#continue {
	width: 93px;
	height: 26px;
	margin-top: 5%;
	float: right;
}

.pac-container {
	background-color: var(--darkestgray);
	color: #fff;
}

.pac-item:hover {
	background-color: var(--darkgray);
}

.pac-item-selected {
	background-color: var(--darkgray);
}

.pac-item-query {
	color: #fff;
}
