#file_archive_popup {
	/* display: inline; */
}

#file_archive_popup_inner {
	width: 600px;
	height: 520px;
}

#file_archive_popup_inner > .popup_title > .popup_close_btn {
	position: absolute;
	top: 0;
	right: 0;
}

#file_archive_popup_inner > .popup_title {
	padding: 10px 30px;
	padding-bottom: 0;
	height: 25px;
	font-weight: 600;
	width: calc(100% - 60px);
}

#archive_input {
	width: 0;
	height: 0;
	visibility: hidden;
}

.archive_upload_wrapper {
	text-align: center;
	background-color: #e6e6e6;
	border-radius: 5px;
	padding: 5px;
	font-weight: 600;
	overflow: hidden;
	cursor: pointer;
	height: 54px;
	width: 96.4%;
	margin-left: auto;
	margin-right: auto;
}

.archive_upload_wrapper:hover {
	background-color: #e0e0e0;
}

.archive_upload_wrapper > img {
	float: left;
	margin-left: 195px;
	margin-top: 16px;
}

.archive_upload_wrapper > div {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.file_listing > .files {
	overflow-y: scroll;
	height: 330px;
	scrollbar-width: none;
	margin-top: 6px;
	text-align: center;
}

.file_listing > .files::-webkit-scrollbar {
	display: none;
}

.file_listing {
	margin-top: 20px;
}

#file_listing_title {
	margin-left: 11px;
	font-weight: 600;
}

.archive_file {
	position: relative;
	width: 18%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-top: 2px;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	background-color: #cccccc;
  opacity: 0.8;
  transition: border-color .5s;
}

.archive_file:before {
	display: block;
	content: '';
	padding-bottom: 100%;
}

.archive_file:not(.delete_file):hover {
	/*  width: calc(24% - 4px);*/
	margin: 0 calc(1% - 2px);
	margin-bottom: calc(1% - 2px);
	margin-top: 0;
	border: 2px solid var(--blue);
	opacity: 1;
}

.archive_file > .content {
	position: absolute;
	top: 0;
	right: 0;
}

.archive_file:hover > .content > .delete_file {
	display: inline;
}

.delete_file {
	float: right;
	display: none;
	padding: 5px;
	opacity: 0.4;
	background-color: rgba(55, 55, 55, 0.9);
	border-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
}

.delete_file:hover {
	cursor: pointer;
	opacity: 1;
}

/*Archiv Preview*/
.archive_file_preview {
	position: absolute;
	transform: translateX(-50%);
	height: 150px;
	/* max-width: 250px; */
	border-radius: 2px;
	display: none;
	box-shadow: var(--box_shadow);
	border: 5px solid #fff;
  border-radius: 5px;
}

.archive_file_preview > img {
	border-radius: 3px;
	height: 100%;
}

.archive_file.red_border:hover {
  border-color: var(--red);
}
