.popup_background.level_1_popup {
  z-index: 100;
}

.popup_background.level_2_popup {
  z-index: 110;
}

.popup_background.level_1_popup > .popup_body {
  z-index: 101;
}

.popup_background.level_2_popup > .popup_body {
  z-index: 111;
}

.popup_background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 40, 40, 0.6);
  z-index: 100;
  display: none;
}

.popup_body {
  border-radius: 5px;
  z-index: 101;
  margin: auto;
  margin-top: 10%;
  opacity: 1 !important;
  position: relative;
  background-color: #ffffff;
}

.dark_popup > .popup_body {
  background-color: var(--darkgray);
  color: var(--customwhite);
}

.popup_title {
  height: 33px;
  width: calc(100% - 30px);
  position: relative;
  /* border-bottom: 1px solid #C1C1C1; */
  padding-left: 30px;
  font-size: 14px;
  margin: 10px 0;
}

.popup_title.no_border {
  border: none;
}

.popup_title_content {
  margin-top: 10px;
  float: left;
  font-weight: 600;
}

.popup_close_btn {
  float: right;
  margin-right: 12px;
  margin-top: 11px;
  border: none;
  background: none;
}

.popup_content {
  padding: 0px 30px;
  margin-top: 25px;
  position: relative;
}
