.carousel_footer_wrapper {
  height: auto;
  float: left;
  position: relative;
  width: 100%;
}

.footer_wrapper {
  background-color: var(--darkestgray);
  color: #fff;
  overflow: hidden;
  padding: 1% 3%;
  padding-bottom: 4%;
  position: relative;
  /*! height: calc((100vw - 320px) * 0.2); */
  height: calc((40vw * 0.58));
  display: none;
}

.carousel_footer_wrapper.blur:not(.disabled):hover > .footer_wrapper,
.carousel_footer_wrapper.blur.hover:not(.disabled) > .footer_wrapper {
  filter: blur(2px);
}

.footer_wrapper > div:not(.footer_bottom_desc) {
  float: left;
}

.footer_top_border {
  width: 100%;
  margin: auto;
  border: 1px solid #707070;
  margin-bottom: 4%;
}

.footer_box_left {
  width: 28.3%;
  margin: 0 3%;
  margin-left: 7.7%;
}

.footer_box_middle {
  width: 27%;
  margin: 0 7%;
}

.footer_box_right {
  width: 16%;
  margin: 0 %;
  padding-left: 3%;
}

.footer_bottom_desc {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.3;
}

.footer_content_box {
  line-height: 2 !important;
}

.footer_content_box > button {
  padding: 1.5% 3%;
  margin-left: 4%;
  margin-top: -0.5%;
  width: 20%;
  float: right;
}

.footer_content_box > input {
  width: 75%;
  float: left;
}

.footer_box_header {
  margin-top: 1%;
}

.footer_content_wrapper {
  margin-top: 12%;
}

#footer_mail {
  border: none;
  height: 35%;
  border-radius: 2px;
  color: #000;
}

#footer_mail::placeholder {
  color: #727272;
}

#footer_button {
  height: 35% !important;
  margin-top: 0.1%;
  width: 23%;
  margin-left: 0;
}

.inactive_button {
  cursor: default !important;
}

.navigate {
  padding-top: 0.1%;
  font-weight: 600;
}

.footer_content_box {
  margin-bottom: 2%;
  height: 20%;
}

.footer_box_right > .footer_content_wrapper > div {
  margin: 13% 0;
}

.footer_link {
  text-decoration: none;
  color: #aaaaaa;
  overflow: hidden;
  width: auto;
}

.footer_box_middle > .footer_content_wrapper > .footer_content_box {
  margin-bottom: 0%;
  height: 18%;
}

.footer_box_middle
  > .footer_content_wrapper
  > .footer_content_box
  > #buildyour {
  padding-top: 7%;
  float: left;
}

.footer_link_color {
  color: var(--blue);
  font-weight: 600;
  letter-spacing: 0.5;
}

.footer_link > img {
  vertical-align: center;
  margin-left: 4%;
}

#first_logos {
  margin-top: -3%;
}

#footer_logo {
  height: 25%;
  margin-right: 10%;
}

.social_links {
  width: 5%;
  margin-left: 4%;
}

.footer_filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: none;
}

.carousel_footer_wrapper:not(.disabled) > .footer_filter:hover > .message,
.carousel_footer_wrapper:not(.disabled) > .footer_filter.hover > .message {
  display: inline;
}

.footer_filter > .message {
  padding-top: 2%;
  display: none;
}

.footer_filter > .message > img {
  margin-top: 1%;
  margin-bottom: 1%;
}
