body {
  background-color: var(--darkgray);
  transition: background-color 2s ease;
}

#menue_wrapper {
  z-index: 10 !important;
  background-color: var(--darkgray);
  transition: background-color 2s ease;
}

.top_wrapper_fixed {
  background-color: var(--darkgray);
  transition: background-color 2s ease;
}

.mobile_background {
  background-color: var(--mobilegray) !important;
  transition: background-color 2s ease;
}

#menue_wrapper {
  background-color: #525252;
}

#preview_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 49;
  background-color: inherit;
  display: none;
}

/*Preview Controls*/
#preview_controls {
  width: 770px;
  height: 50px;
  position: fixed;
  bottom: 15;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: #222222;
  z-index: 50;
}

#preview_controls > .inner {
  position: relative;
  width: 98%;
  height: 100%;
  margin-left: 1%;
}

.preview_controls_switch_wrapper {
  width: 330px;
  position: absolute;
  top: 2;
  left: 50%;
  transform: translateX(-50%);
}

.preview_controls_switch_wrapper > button {
  height: 32px;
  width: 55px;
  margin-top: 10px;
  background: none;
  color: #fff;
  border: none;
  background-repeat: no-repeat;
  background-size: 5px;
}

.preview_controls_switch_wrapper > #next_template {
  float: right;
  text-align: left;
  background-image: url(/signed/src/icns/next.svg);
  background-position: 100%;
  margin-top: 7px;
}

.preview_controls_switch_wrapper > #previous_template {
  float: left;
  margin-top: 7px;
  text-align: right;
  background-image: url(/signed/src/icns/back.svg);
  background-position: 0%;
}

#preview_controls > .inner > button,
#preview_controls > .inner > a > button {
  margin-top: 14px;
  width: 145px;
  height: 23px;
  margin: 14px 20px 0px;
  border: none;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
}

#preview_controls > .inner > .back_selection {
  float: left;
  background-color: rgba(175, 175, 175, 0.5);
}

#preview_controls > .inner > a > .choose_template {
  float: right;
  background-color: rgba(0, 156, 214, 0.5);
}

/*Mobile-Switch*/
.mobile_switch_wrapper {
  width: 94px;
  margin: auto;
  float: left;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.mobile_switch_inner {
  width: 94px;
  margin: auto;
}

.switch_button {
  width: 45px;
  height: 25px;
  background-color: var(--darkergray);
  border: none;
  opacity: 0.2;
  float: left;
}

.switch_button[data-view="mobile"] {
  margin-bottom: -1px;
  margin-left: 1px;
}

.switch_button.active {
  opacity: 1;
}

#preview_body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.preview_inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preview_inner > .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#desktop_preview {
}

#desktop_preview > img {
  width: 100%;
}

#mobile_preview {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* display: none; */
}

#mobile_preview > .wrapper {
  position: absolute;
  top: calc(50% + 35px);
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

#mobile_preview > .wrapper > div > div > img {
  width: 100%;
}

#mobile_preview > .wrapper > #mobile_portrait > .portrait {
  background-image: url(/signed/php/profile_elements/preview_full/flip_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile_preview > .wrapper > #mobile_portrait > .portrait > img {
  padding-bottom: 176%;
}

#mobile_preview > .wrapper > div {
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1c1c;
  border-radius: 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
}

#mobile_preview > .wrapper > #landscape {
  position: relative;
  width: 670px;
  top: calc(23%);
  /*Background*/
  background-image: url(/signed/src/borders/phone_elements_landscape.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-position-y: calc(50% - 0px);
  padding: 0 !important;
  margin: 0 !important;
}

#mobile_preview > .wrapper > #landscape:before {
  content: "";
  display: block;
  padding-bottom: calc(56.25% / 1.15);
}

#mobile_preview > .wrapper > #mobile_portrait {
  background-image: url(/signed/src/borders/phone_elements_portrait.svg);
  background-size: calc(23.25%);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 22px;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  width: 294.9453px;
  height: 615px;
  top: calc(5%);
}

#format_switcher {
  background: none;
  border: none;
  position: absolute;
  top: calc(38%);
  right: 15%;
}

.mobile_preview_body.portrait {
  top: 7.86%;
  bottom: 7.86%;
}

.mobile_preview_body.landscape {
  left: 7.86%;
  right: 7.86%;
}

.mobile_preview_body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
