.rapture_actions{
  color: #FFF;
  position: absolute;
  top: 52%;
  left: 3%;
}

.rapture_header{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1;
  margin-bottom: 15px;
}

.rapture_buttons>button{
  color: #FFF;
  background-color: rgba(69,69,69,0.223);
  border: none;
  width: 124px;
  padding: 0;
  padding-left: 27px;
  height: 42px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
  letter-spacing: .2;
  text-align: center;
  background-size: 17px auto;
  background-position-x: 15px;
  background-position-y: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#book_now{
  background-image: url(/signed/src/icns/speech_bubble_white.svg);
}

#freedates{
  background-image: url(/signed/src/icns/calendar_white.svg);
}

#more_info{
  background-image: url(/signed/src/icns/info_white.svg);
}
