body {
  background-color: var(--darkestgray);
  overflow-y: scroll;
}

/* Navigation */
.search_menue_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  height: auto;
  z-index: 100;
  background-color: rgba(21,21,21,0);
  float: left;
}

.search_menue_wrapper>div>img {
  cursor: pointer;
}

.search_menue_wrapper>.left_nav {
  float: left;
}

.search_menue_wrapper>.right_nav {
  float: right;
}

.search_menue_wrapper>.right_nav>img {
  height: 15px;
  margin-top: 2.5px;
  margin-left: 15px;
}

.search_menue_wrapper>.left_nav>img {
  height: 20px;
}

/* searchbody */
.searchbody {
  margin-top: 40%;
  padding-bottom: 10%;
  overflow: hidden;
}

/* Headslider */
.headslider_wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: var(--lightgray);
}

.headslider_wrapper::before {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: 51.1%;
}

.headslider_content {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

.headslider_filter {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 11%;
  z-index: 10;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* Slider klein/groß */
.slider_body{
  padding-top: 1vw;
}

.sliderheader {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  margin-left: 3.2vw;
  margin-bottom: 0vw;
  padding-top: 2vw;
}

.sliderelement {
  position: relative;
  float: left;
  height: unset !important;
  cursor: pointer;
  transition: width .5s, margin .5s;
}

/* sliderelemente */
.sliderelement.small, .sliderelement.large {
  width: 15.35vw;
  margin-right: 0.37vw;
}

.sliderelement_filter, .sliderelement_content, .sliderelement_infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sliderelement_content {
  z-index: 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sliderelement_filter {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
}

.sliderelement_video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
}

.sliderelement_content>img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 101%;
  min-width: 101%;
  min-height: 101%;
}

/* sliderelemente small */
.sliderwrapper{
  z-index: 100;
  overflow-y: visible;
  overflow-x: visible;
}

.sliderwrapper.small>.slick-list {
  padding: 0.4vw 3vw;
  transition: padding .5s;
  overflow: visible;
  height: calc(15vw * 0.6);
}

.sliderelement.small::before {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: 56.25%;
  background-color: white;
}

.sliderelement.small>.sliderelement_infos {
  display: none;
  z-index: 8;
  color: #FFF;
  padding-left: 4%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/*Hover auf Rechts*/
.sliderelement.small{
  /* transition: margin-left .5s; */
  margin-left: 0;
}

.sliderelement.small.right_hovered{
  margin-left: -7.3vw;
  /* transition: margin-left .5s; */
}

.sliderelement.small.far_right_hovered{
  margin-left: -11vw;
  transition: margin .5s;
}

.sliderelement_infos>div {
  clear: both;
}

.sliderelement_infos>.dj_name {
  margin-top: 38%;
  font-weight: 600;
  margin-bottom: 2%;
}

.sliderelement_infos>.dj_location {
  margin-bottom: 2%;
}

.sliderelement_infos>.dj_location>img {
  height: 8%;
  margin-top: .5%;
  float: left;
  margin-right: 3%;
}

/* sliderelemente large */
.sliderwrapper.large>.slick-list {
  padding: 1.4vw 3vw;
  transition: padding .5s;
}

.sliderelement.large::before {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: 196.6%;
  background-color: white;
}

/* Zoomed */
.sliderwrapper.small.zoomed>.slick-list {

}

.sliderelement.small.zoomed {
  width: 28vw;
  margin-top: -3.7vw;
  margin-bottom: -3.8vw;
  z-index: 100;
}

.sliderwrapper.large.zoomed>.slick-list {
  padding: 1.4vw 1.385vw;
}

.sliderelement.large.zoomed {
  width: 16.5vw;
  margin-top: -1.385vw;
  margin-bottom: -1.385vw;
}

/* Sliderbuttons */
.sliderwrapper>button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background: none;
  border: none;
  padding: 0;
  transition: top .5s;
  opacity: 0;
  transition: opacity 0.5s;
  /* background: rgba(0,0,0,0.2); */
}

.sliderwrapper.small>button {
  padding-top: calc((15.35vw * 0.57) / 2);
  padding-bottom: calc((15.35vw * 0.57) / 2);
}

.sliderwrapper.small>button>img{
  height: 1.5vw;
}

.sliderwrapper:hover>button {
  opacity: 1;
}

.sliderwrapper>button:hover {
  opacity: 0.8;
}

.sliderwrapper>button>img {
  height: 100%;
}

.sliderwrapper>.slick-prev {
  left: 0;
  padding-left: 1.5vw;
}

.sliderwrapper>.slick-next {
  right: 0;
  padding-right: .8vw;
}
