#loadingscreen,
#loadingscreen_full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(100, 100, 100, 0.8);
}

#loadingscreen_full {
  background-color: rgba(100, 100, 100, 1);
}

#loadingscreen > img,
#loadingscreen_full > img {
  position: absolute;
  top: 50%;
  margin-top: 0;
  left: 56%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  width: 10vh;
  height: 10vh;
  z-index: 1001;
}

.preview_mode > #loadingscreen > img,
.preview_mode > #loadingscreen_full > img {
  left: 50%;
}
