#main_genre_popup > .popup_body {
  height: auto;
  width: 719px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 0;
  overflow: hidden;
  padding: 0 30px;
  padding-bottom: 20px;
}

#main_genre_popup > .popup_body > .popup_title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 12px;
  padding-left: 0;
  width: 99.2%;
}

#main_genre_popup > .popup_body > .popup_title > .popup_title_content {
  font-weight: 600;
  opacity: 0.9;
}

.genre_row {
  width: 20%;
  float: left;
}

.genre_button {
  width: 124px;
  height: 19px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  color: #262626;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.genre_button.selected {
  background-color: #00c9cc;
  border: none;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 1px;
  cursor: default;
}

#extend_genre_listing {
  width: 100px;
  height: 24px;
  margin: 0 0;
  margin-left: 5px;
  background: none;
  border: none;
  text-align: left;
  opacity: 0.6;
  background-image: url(../../src/icns/dropdown.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

#extend_genre_listing.turned {
  background-image: url(../../src/icns/dropdown_top.svg);
}

.genre_wrapper.additional_genres {
  display: none;
}

#selected_genres {
  font-size: 12px;
  color: #262626;
  font-weight: 200;
  padding-left: 20px;
}
