#top_line{
    height: 58px;
    width: 100%;
    font-size: 18px;
    border-bottom: solid 1px #D2D2D2;
    padding-bottom: 10px;
    display: table;
}

#top_line #show_btn{
    float: left;
    line-height: 20px;
    font-size: 16px;
    height: 20px;
    margin-top: 38px;
    color: #63B4BF;
    cursor: pointer;
}

#top_line #show_btn:hover{
    color: #4F9099;
}

/*  DROPDOWN    */
#sort_drop{
    width: 250px;
    float: right;
    z-index: 5;

}

#sort_drop #sort_label{
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #969696;
}

#sort_drop .dropdown_selection{
    height: 40px;
    display: table;
}

#sort_drop .dropdown_selection .drop_label{
    height: 20px;
    line-height: 32px;
    font-size: 18px;
}
#sort_drop .dropdown_selection .arrow_down{
    height: 20px;
    margin: 10px 0;
    margin-right: 15px;
}

#sort_drop .dropdown_option{
    height: auto;
    display: table;
}

#sort_drop .dropdown_option .drop_label{
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 5px;
    width: auto;
    font-size: 18px;
}

/*  SUCHLEISTE  */
#searchinput{
    display: table;
    height: 30px;
    float: right;
    position: relative;
    margin-right: 25px;
    width: 250px;
}

#search_label{
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #969696; 
}

#search_input{
    width: 100%;
    border: none;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    box-shadow: none;
    color: #000;
    background-color: #D2D2D2;
    border-radius: 25px;
    margin: 0;
    padding: 0 40px 0 20px;
}

#searchinput img{
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer; 
}


/*FILTER DROP */
#toggle_box{
    width: 100%;
    display: none;
    height: auto;
    border-bottom: solid 1px #D2D2D2;
    padding-bottom: 25px;
}

#input_layout{
    display: block;
    width: 40%;
    float: left;
}

#input_layout input{
    height: 34px;
    line-height: 30px;
    clear: both;
    float: none;
    border: solid 1px #D2D2D2;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 10px;
}

#button_layout{
    width: 20%;
    margin: 0 35% 0 5%;
    float: left;
    display: table;
}

#button_layout a, #button_layout div{
    width: 160px;
    display: block;
    text-align: left;
    clear: both;
}


/* ARTIST gRID */
.artist_block{
    width: 30%;
    height: auto;
    min-height: 220px;
    display: table;
    margin-right: 5%;
    float: left;
}

.artist_block:nth-of-type(3n){
    margin-right: 0;
}

.artist_block .artist_pic{
    height: 200px;
    margin: 10px 0;
    width: 200px;
    float: left;
}

.artist_block .artist_info{
    width: calc(100% - 250px);
    padding: 10px 25px;
    float: right;
}

.artist_info h6{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 22px;
    height: auto;
    font-weight: 100;
    word-break: break-all;
}

.artist_info .star_user{
    display: block;
    padding: 5px 0;
}

.artist_info font{
    font-size: 12px;
    line-height: 20px;
}

.artist_info .seeProfile{
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    margin-top: 5px;
}

#artist_grid #no_result{
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    color: #969696;
}

/*  BUTTONLEISTE  */
#site_buttons{
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: table;
    float: none;
    clear: both;
}

#site_buttons .site_btn{
    width: 100px;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}


#site_buttons #site_state{
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    margin: 0 100px;
}

#site_buttons .btn_space{
    display: block;
    float: left;
    height: 25px;
    width: 100px;
}

@media screen and (max-width: 1900px) {
    
    /*FILTER DROP */

    #input_layout{
        display: block;
        width: 70%;
        float: left;
    }

    #button_layout{
        width: 25%;
        margin: 0 0 0 5%;
        float: right;
        display: table;
    }

    #button_layout a, #button_layout div{
        width: auto;
        display: block;
        text-align: left;
        clear: both;
    }

    /* ARTIST gRID */

    .artist_block .artist_pic{
        width: 50%;
        margin: 0 auto;
        height: auto;
        float: none;
        display: block;
    }

    .artist_block .artist_info{
        width: 90%;
        float: none;
        padding: 10px 5%;
    }

    .artist_info h6{
        font-size: 25px;
        line-height: 30px;
    }

    .artist_info .star_user{
        padding: 10px 0;
    }

    .artist_info font{
        font-size: 16px;
        line-height: 20px;
    }

    .artist_info .seeProfile{
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1400px) {
        /*FILTER DROP */

    #input_layout{
        width: 100%;
        float: none;
    }

    #button_layout{
        width: 35%;
        margin: 0;
        margin-right: 65%;
        float: none;
        display: table;
    }

    #button_layout a, #button_layout div{
        width: auto;
        display: block;
        text-align: left;
        clear: both;
    }
    
    /* ARTIST gRID */
    .artist_block{
        width: 47.5%;
        height: auto;
        margin-right: 5%;
        float: left;
    }

    .artist_block:nth-of-type(3n){
        margin-right: 5%;
    }
    
    .artist_block:nth-of-type(2n){
        margin-right: 0;
    }
    
    .artist_block .artist_pic{
        width: 100px;
        height: 100px;
        margin: 25px 0;
        float: left;
        display: block;
        margin-left: 25px;
    }
    
    .artist_block .artist_info{
        width: calc(100% - 175px);
        margin: 0;
        padding: 25px 25px;
        display: table;
    }
    
    .artist_info h6{
        font-size: 20px;
        line-height: 22px;
    }

    .artist_info .star_user{
        padding: 8px 0;
    }

    .artist_info font{
        font-size: 14px;
        line-height: 20px;
    }

}

@media screen and (max-width: 1200px) {
    /* ARTIST gRID */

    
    .artist_block .artist_pic{
        width: 75%;
        height: auto;
        margin: 0 auto;
        float: none;
        display: block;
    }
    
    .artist_block .artist_info{
        width: 75%;
        margin: 0 auto;
        padding: 25px 0;
        display: table;
    }
    
    .artist_info h6{
        font-size: 20px;
        line-height: 22px;
    }

    .artist_info .star_user{
        padding: 8px 0;
    }

    .artist_info font{
        font-size: 14px;
        line-height: 20px;
    }

}

@media screen and (max-width: 1000px){
    /*  SUCHLEISTE  */
    #top_line{
        height: 126px;
    }
    
    #top_line #show_btn{
        margin-top: 106px; 
    }
    
    #sort_drop{
        width: 300px;
    }
    
    #searchinput{
        float: right;
        clear: right;
        margin: 0;
        margin-top: 10px;
        width: 300px;
    }

}

@media screen and (max-width: 800px) {
            /*FILTER DROP */

    #button_layout{
        width: 50%;
        margin-right: 50%;
    }
    
    #top_line #show_btn {
        margin-top: 128px;
    }
    
    /* ARTIST gRID */
    .artist_block{
        width: 100%;
        height: auto;
        margin: 0;
        float: none;
        background-color: #D2D2D2;
    }

    .artist_block:nth-of-type(3n){
        margin-right: 0;
    }
    
    .artist_block:nth-of-type(2n){
        margin-right: 0;
    }
    
    .artist_block .artist_pic{
        width: 200px;
        height: 200px;
        margin: 25px 0;
        float: left;
        display: block;
        margin-left: 25px;
    }
    
    .artist_block .artist_info{
        width: calc(100% - 300px);
        padding: 25px 25px;
    }
    
    .artist_info h6{
        font-size: 20px;
        line-height: 22px;
    }

    .artist_info .star_user{
        padding: 8px 0;
    }

    .artist_info font{
        font-size: 14px;
        line-height: 20px;
    }
    
        /*  BUTTONLEISTE  */
    #site_buttons{
        width: 100%;
        margin: 0;
    }
    #site_buttons .site_btn{
        width: 25%;
        font-size: 18px;
        line-height: 30px;
    }


    #site_buttons #site_state{
        width: 25%;
        line-height: 30px;
        font-size: 18px;
        margin: 0 12.5%;
    }

    #site_buttons .btn_space{
        width: 25%;
        height: 30px;
    }

}

@media screen and (max-width: 600px) {
    #top_line{
        height: auto;
        width: 100%;
        padding-bottom: 15px;
    }

    #top_line #show_btn{
        float: none;
        line-height: 30px;
        font-size: 16px;
        height: 30px;
        margin-top: 0px;
        width: 100%;
        background-color: #780462;
        color: #fff;
        border-radius: 15px;
        text-align: center;
    }

    #top_line #show_btn:hover{
        color: #000;
    }
    
    #sort_drop{
        width: 100%;
        float: none;
        z-index: 5;
        margin-top: 10px;
    }
    
    #searchinput{
        width: 100%;
    }

    #input_layout input, #place_selector input, #artist_plz{
        display: block;
        float: none;
        clear: both;
        width: 100% !important;
    }
    
    #artist_plz{
        margin-bottom: 5px;
    }
    
    #button_layout{
        width: 100%;
        margin: 0;
    }

    #button_layout a, #button_layout div{
        width: auto;
        display: block;
        text-align: left;
        clear: both;
    }
    /* ARTIST GRID */
    .artist_block .artist_pic{
        width: 90%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    
    .artist_block .artist_info{
        width: 90%;
        float: none;
        padding: 25px 5%;
    }
    
    .artist_info h6{
        font-size: 20px;
        line-height: 22px;
    }

    .artist_info .star_user{
        padding: 8px 0;
    }

    .artist_info font{
        font-size: 14px;
        line-height: 20px;
    }
    

}