body{
  width: 100%;
  height: 100%;
  background: url("/src/pic/artist.jpg");
  background-size: 100%;
  overflow: hidden;
  font-family: Helvetica;
  Font-weight: 400;
  color: #fff;
}

.Master_wrapper_error{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20%;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
