body{
  background: #393939;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.logo_space{
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
}

.logo_space >img{
  width: 150px;
}

.login_button{
  position: fixed;
  top: calc(25% + 120px);
  left: 0;
  right: 0;
  text-align: center;
}

.login_button >a >button{
  height: 24px;
  background-color: #00D1D6;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-weight: 600;
  font-size: 12px!important;
  letter-spacing: 1;
  width: 100px;
}

.login_button >a >button:hover{
  opacity: 0.9;
}

.legal_links_wrapper{
  color: #FFF;
  position: fixed;
  bottom: 10;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  opacity: 0.8;
}

.legal_links_wrapper >span{
  opacity: 0.5;
}

.legal_link:hover{
  opacity: 1;
}

.legal_link{
  text-decoration: none;
  color: #FFF;
  margin: 0px 10px;
  font-weight: 400;
  letter-spacing: 2;
  opacity: 0.5;
}

#login_popup{

}

#background {
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	background-position: bottom;
	background-size: cover;
	z-index: -10;
	opacity: 1;
  filter: brightness(70%);
}

#background > video {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translateY(-50%) translateX(-50%);
}

#login_popup_content{
  width: 320px;
  height: 230px;
  background-color: #FFF;
  top: 27%;
  margin: auto;
  color: #000;
  border-radius: 5px;
}

.popup_header{
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 24px;
  float: left;
  padding-left: 0px!important;
  color: #2C2C2C;
}

#login_popup_content >.popup_close_btn {
  margin-right: -10px;
  margin-top: 18px;
  opacity: 0.3;
}

#login_popup_content >.popup_close_btn:hover{
  opacity: 1;
}

.login_inputs_wrapper{
  width: 300px;
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  border-radius: 2px;
}

.login_inputs_wrapper >input{
  width: 100%;
  margin-bottom: 20px;
  height: 27px;
}

.login_inputs_wrapper >button{

}

#SbmBtn{
  background-color: #00D1D6;
  width: 100%;
  color: #FFF;
  border: none;
  height: 27px;
  font-weight: 600;
  border-radius: 5px;
}

#SbmBtn:hover{
  cursor: pointer;
  opacity: 0.9;
}
