.login_top_line{
  height: 25px;
  background: #009CD6;
  color: #FFFFFF;
  padding-top: 15px;
  overflow: hidden;
}

.nav_logo_wrapper{
  float: left;
}

.nav_logo{
  height: 15px;
  margin-top: -5px;
  margin-left: 20px;
}

.login_wrapper{
  float: right;
}

.nav_link_wrapper{
  padding-top: 20px;
}

.nav_link{
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 20px;
  margin-right: 30px;
}

.master_wrapper{
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.legal_h3{
  font-size: 12px;
}

.legal_txt{
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
}
