body{
  background-color: #18566E;
  margin: 0;
  width: 100%;
  height: 600px;
}

.login_top_line{
  height: 25px;
  background-color: #525252;
  color: #FFFFFF;
  padding-top: 15px;
  overflow: hidden;
  opacity: 0;
}

.nav_logo_wrapper{
  float: left;
}

.nav_logo{
  height: 15px;
  margin-top: -5px;
  margin-left: 20px;
}

.login_wrapper{
  float: right;
}

.nav_link_wrapper{
  padding-top: 20px;
}

.nav_link{
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 20px;
  margin-right: 30px;
}

.message_negativ{
    display: none;
    margin-left: 30px;
    margin-top: -15px;
    margin-bottom: 0px;
    color: #F81010;
}

.header_line{
  width: 320px!important;
  height: 210px!important;
  background-color: #FFF;
  margin-top: 14%!important;
  color: #000;
  border-radius: 2px;
}

#login_headline{
  font-size: 12px!important;
  font-weight: 400!important;
  padding-left: 30px!important;
  margin-top: 10px!important;
  color: #000;
}

.inner_wrapper{
  width: 100%!important;
  float: left;
  margin-top: 20px!important;
}

a{
  text-decoration: none;
  color: #777777;
  font-weight: 200;
  display: none;
}

.login_input{
  width: 300px!important;
  height: 27px;
  margin-bottom: 15px!important;
  border-color: #ccc;
  border-radius: 2px;
  margin-left: 30px;
}

.stay_logged_wrapper{
  margin-top: -5px;
}

#SbmBtn{
  width: 300px!important;
  margin-top: 20px;
  background-color: #0075A0;
  color: #FFF;
  border: none;
  height: 27px;
  font-weight: 200;
  border-radius: 2px;
  margin-left: 30px;
}

.bottom_links{
  margin: auto;
  text-align: center;
  width: 90%;
  font-size: 10px;
  display: none;
}

}

.message_negativ{
    display: none;
}

.header_line{
  max-width: 450px;
  min-width: 25%;
  height: 270px;
  margin: auto;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  border-radius: 2px;
  margin-top: 100px;
  background-color: #FFFFFF;
}

#login_headline{
  font-size: 16px;
  font-weight: 500;
  padding-left: 72px;
  padding-top: 0px;
  color: #474747;
}

.inner_wrapper{
  width: 70%;
  margin: auto;
}

a{
  text-decoration: none;
  color: #777777;
  font-weight: 400;
}

.login_input:focus{

}

.stay_logged_wrapper{
  margin-top: 0px;
  margin-left: 30px;
}

#SbmBtn{
  width: 100%;
  height: 27px;
  border-radius: 2px;
  margin-top: 20px;
  font-weight: 200;
}

.bottom_links{
  margin: auto;
  text-align: center;
  width: 90%;
  font-size: 11px;
}

::placeholder{
  color: #808080;
  font-size: 10px;
}
