body {
	width: 100vw;
	height: 100vh;
	position: relative;
	color: var(--customwhite);
	overflow: hidden;
	background: #000;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('/signed/src/backgrounds/onboarding_background.jpg');
	background-position: bottom;
	background-size: cover;
	z-index: 2;
	margin: -5px;
	opacity: 0.6;
	filter: blur(3px);
}

h3 {
	font-size: 20px;
	font-weight: 100 !important;
	margin-bottom: 5%;
}

input::placeholder {
	color: rgba(235, 235, 235, 0.5);
}

a {
	color: inherit;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	transform: translateX(-50%) translateY(-50%);
	width: 620px;
	float: left;
	/* Farbverlauf: 0 - 30% danach schwarz */
	/*background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.11) 3%,
    rgba(0, 0, 0, 1) 32%
  );*/
}

.input_wrapper {
	font-size: 12px;
	margin-bottom: 2%;
	width: 50%;
}

.full_width > .input_wrapper {
	float: left;
}

.input_desc {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	padding-left: 7px;
}

.input_wrapper > input {
	padding: 4px;
	padding-left: 5px;
	width: 80%;
	font-size: 12px;
	background: none;
	border: 1px solid rgba(155, 155, 155, 0.2);
	color: #ebebeb;
}

.register_checkboxes_wrapper {
	width: 90%;
	font-size: 11px;
}

#register {
	width: 93px;
	height: 26px;
	margin-top: 2%;
	float: right;
	margin-right: 10%;
}

.error_wrapper {
	margin-top: 10px;
	height: 20px;
	color: red;
}

/*Ladescreen Popup*/
.popup_content {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
	margin: auto;
	margin-top: 100px;
}

#popup_load_screen {
	position: fixed;
	background-color: rgba(64, 64, 64, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.load_popup {
	width: 10vw;
	height: 10vw;
	margin: auto;
	box-shadow: none;
	border: none;
	background: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
}

.load_img {
	width: 10vh;
	height: 10vh;
}

#login_form {
	display: none;
}
