body{
  margin: 0;
  width: 100%;
  background-color: #FAFAFA;
  color: #474747;
}

.login_top_line{
  height: 25px;
  background-color: #525252;
  color: #FFFFFF;
  padding-top: 15px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav_logo_wrapper{
  float: left;
}

.nav_logo{
  height: 15px;
  margin-top: -5px;
  margin-left: 20px;
}

.login_wrapper{
  float: right;
}

.nav_link_wrapper{
  padding-top: 20px;
}

.nav_link{
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 20px;
  margin-right: 30px;
}

#country{
  width: 150px;
  margin-top: 5px;
  padding-left: 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#country_company{
  width: 150px;
  margin-top: 5px;
  padding-left: 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#position{
  margin-top: 5px;
  padding-left: 2px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#address_form{
  margin-top: 5px;
  padding-left: 2px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.master_wrapper{
  width: 60%;
  margin: auto;
  clear: both;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 90px;
}

.sell{
  background-color: #707070;
  height: 450px;
}

.sell_img{
  width: 100%;
  height: 100%;
}

.register_wrapper{
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

/*Block*/
.register_header{
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left:5%;
  font-size: 16px;
  padding-left: 5px;
}

.block.bottom_line{
  margin-bottom: 37px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CCCCCC;
}

.block.last{
  margin-bottom: 20px;
}

.block_line{
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  margin: auto;
}

.block_line_header{
  font-size: 14px;
  padding-bottom: 20px;
}

.input_wrapper_half{
  width: 50%;
  float: left;
  margin: auto;
  padding-bottom: 15px;
}

.input_wrapper_half.left{
  float: left;
}

.input_wrapper_half.right{
  float: right;
}

.input_wrapper_inner{
  width: 80%;
  margin: auto;
}

.input_header{
  font-weight: 600;
  padding-left: 5px;
}

.register_input{
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin-top: 5px;
  height: 21px;
  padding-left: 5px;
}

.register_input.half{
  width: 100%;
}

.payment_selector{
  width: 100%;
}

.plz_wrapper{
  width: 30%;
  float: left;
}

.city_wrapper{
  width: 70%;
  float: left;
}

.register_input.plz{
  width: 90%;
}

.register_input.city{
  width: 100%;
}

.continue_btn_wrapper{
  margin-top: 30px;
}

.continue_btn{
  float: right;
  margin-right: 150px;
  border-radius: 10px;
  height: 21px;
  width: 73px;
  font-weight: 100;
}

.error_wrapper{
  color: red;
  height: 20px;
  margin-top: 10px;
  margin-left:16%;
}

.register_checkboxes_wrapper{
  width: 80%;
  margin-left: 16%;
}

.form_select{
  height: 21px;
  width: 70px;
}

#same_address_wrapper{
  margin-left: 5%;
}

.payment_selector{
  height: 21px;
  margin-top: 5px;
}

.block_line_header{
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.checkboxes_wrapper{
  margin-left: 5%;
  margin-top: 20px;
  font-size: 10px;
}

.checkbox_wrapper{
  float: left;
  margin-right: 0px;
  margin-top: -3px;
}

.checkbox_desc{
  width: 90%;
  overflow: hidden;
  margin-top: 5px;
}

.package_wrapper{
  margin-bottom: 10px;
  overflow: hidden;
}

.package{
  width: 20%;
  color: #474747;
  opacity: 0.7;
  margin-left: 10%;
  margin-top: 20px;
  float: left;
  cursor: pointer;
}

.package.selected_package{
  opacity: 1;
}

.package_desc{
  height: 80px;
  text-align: center;
  font-size: 14px;
  background-color: #E5E5E5;
  border-radius: 2px;
}

.package_name{
  padding-top: 20px;
  font-weight: bold;
}

.package_price{
  padding-top: 15px;
}

.package_specs{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  color: #989898;
}

#submit_package{
  width: 180px;
  border-radius: 5px;
  margin-right: 50px;
  height: 25px;
}

#payment_intervall{
  height: 21px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  width: 150px;
}

/*Ladescreen Popup*/
.popup_content{
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
  margin: auto;
  margin-top: 100px;
}

#popup_load_screen{
  position: fixed;
  background-color: rgba(64, 64, 64, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.load_popup{
  width: 227px;
  height: 170px;
  margin: auto;
  margin-top: 15%;
  position: relative;
}

.load_img{
  width: 227px;
  height: 170px;
}
