.header_line h1{
    text-align: center;
}

#resetForm{
    width: 250px;
    margin: 50px auto;
    display: block;
}

#resetForm input[type="text"], #resetForm input[type="password"]{
    border: none;
    border-bottom: solid 2px #fff;
    display: block;
    background-color: #D2D2D2;
    padding: 5px;
    margin: 0px;
    margin-bottom: 15px;
    width: 100%;
}

.message_negativ{
    display: none;
}


@media screen and (max-width: 500px) {
    
    #resetForm{
        width: 80%;
        margin: 100px auto;
    }

    #resetForm input[type="submit"]{
        width: auto;
        display: block;
        height: auto;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}