body {
	--darkelementgray: #898989;
	--lightelementgray: #bfbfbf;
	/* 1px in 1366 im Builderbody in normaler Ansicht */
	--pixelunit: 88vw / 1366;
	/*1px in 1366 im Builderbody im Elementmode*/
	--elementpixelunit: 65vw / 1366;
	/*1px in 1366 im Builderbody in Vorschau*/
	--previewpixelunit: 100vw / 1366;
	--fullpixelunit: 100vw / 1366;
}

.element_mode {
		--pixelunit: 65vw / 1366!important;
}

body {
	-webkit-font-smoothing: 0.01px;
	text-rendering: geometricPrecision;
	/* font-smooth: 0.01px; */
}

.darkelement {
	background-color: var(--darkelementgray);
}

.builder_viewport:not(.element_mode) * > .darkelement.hovered_background {
	background-color: #858585;
}

.lightelement {
	background-color: var(--lightelementgray);
}

.builder_viewport:not(.element_mode) * > .lightelement.hovered_background {
	background-color: #bababa;
}

/*Schriftgrößen*/
.profile_element * {
	font-size: calc(12 * var(--pixelunit));
	line-height: calc(23 * var(--pixelunit));
}

.element_menue * {
	font-size: 12px;
	line-height: 15px;
}

.fontsize_8,
.fontsize_8 * {
	font-size: calc(8 * var(--pixelunit));
	line-height: calc(11 * var(--pixelunit));
}

.fontsize_10,
.fontsize_10 * {
	font-size: calc(10 * var(--pixelunit));
	line-height: calc(10 * var(--pixelunit));
}

.fontsize_12,
.fontsize_12 * {
	font-size: calc(12 * var(--pixelunit));
	line-height: calc(23 * var(--pixelunit));
}

.fontsize_13,
.fontsize_13 * {
	font-size: calc(13 * var(--pixelunit));
	line-height: calc(16 * var(--pixelunit));
}

.fontsize_14,
.fontsize_14 * {
	font-size: calc(14 * var(--pixelunit));
	line-height: calc(23 * var(--pixelunit));
}

.fontsize_16,
.fontsize_16 * {
	font-size: calc(14 * var(--pixelunit));
	line-height: calc(23 * var(--pixelunit));
}

.fontsize_49,
.fontsize_49 * {
	font-size: calc(49 * var(--pixelunit));
	line-height: calc(53 * var(--pixelunit));
}

/*Schriftgrößen Namensplatzierung*/
.name_city_wrapper[data-font-size='17'] > .name > .name_wrapper {
	font-size: calc(17 * var(--pixelunit));
	line-height: calc(20 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='17'] > .name > .city_wrapper {
	font-size: calc(5 * var(--pixelunit));
	line-height: calc(7 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='21'] > .name > .name_wrapper {
	font-size: calc(21 * var(--pixelunit));
	line-height: calc(24 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='21'] > .name > .city_wrapper {
	font-size: calc(6 * var(--pixelunit));
	line-height: calc(8 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='25'] > .name > .name_wrapper {
	font-size: calc(21 * var(--pixelunit));
	line-height: calc(24 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='25'] > .name > .city_wrapper {
	font-size: calc(7 * var(--pixelunit));
	line-height: calc(10 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='28'] > .name > .name_wrapper {
	font-size: calc(25 * var(--pixelunit));
	line-height: calc(27 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='28'] > .name > .city_wrapper {
	font-size: calc(8 * var(--pixelunit));
	line-height: calc(11 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='29'] > .name > .name_wrapper {
	font-size: calc(29 * var(--pixelunit));
	line-height: calc(33 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='29'] > .name > .city_wrapper {
	font-size: calc(8 * var(--pixelunit));
	line-height: calc(11 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='33'] > .name > .name_wrapper {
	font-size: calc(33 * var(--pixelunit));
	line-height: calc(37 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='33'] > .name > .city_wrapper {
	font-size: calc(10 * var(--pixelunit));
	line-height: calc(12 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='35'] > .name > .name_wrapper {
	font-size: calc(21 * var(--pixelunit));
	line-height: calc(24 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='35'] > .name > .city_wrapper {
	font-size: calc(10 * var(--pixelunit));
	line-height: calc(12 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='37'] > .name > .name_wrapper {
	font-size: calc(37 * var(--pixelunit));
	line-height: calc(40 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='37'] > .name > .city_wrapper {
	font-size: calc(11 * var(--pixelunit));
	line-height: calc(14 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='41'] > .name > .name_wrapper {
	font-size: calc(41 * var(--pixelunit));
	line-height: calc(44 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='41'] > .name > .city_wrapper {
	font-size: calc(12 * var(--pixelunit));
	line-height: calc(15 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='42'] > .name > .name_wrapper {
	font-size: calc(42 * var(--pixelunit));
	line-height: calc(45 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='42'] > .name > .city_wrapper {
	font-size: calc(12 * var(--pixelunit));
	line-height: calc(14 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='45'] > .name > .name_wrapper {
	font-size: calc(45 * var(--pixelunit));
	line-height: calc(50 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='45'] > .name > .city_wrapper {
	font-size: calc(13 * var(--pixelunit));
	line-height: calc(15 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='49'] > .name > .name_wrapper {
	font-size: calc(49 * var(--pixelunit));
	line-height: calc(52 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='49'] > .name > .city_wrapper {
	font-size: calc(14 * var(--pixelunit));
	line-height: calc(17 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='53'] > .name > .name_wrapper {
	font-size: calc(53 * var(--pixelunit));
	line-height: calc(57 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='53'] > .name > .city_wrapper {
	font-size: calc(15 * var(--pixelunit));
	line-height: calc(19 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='56'] > .name > .name_wrapper {
	font-size: calc(56 * var(--pixelunit));
	line-height: calc(59 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='56'] > .name > .city_wrapper {
	font-size: calc(16 * var(--pixelunit));
	line-height: calc(19 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='57'] > .name > .name_wrapper {
	font-size: calc(57 * var(--pixelunit));
	line-height: calc(62 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='57'] > .name > .city_wrapper {
	font-size: calc(17 * var(--pixelunit));
	line-height: calc(22 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='61'] > .name > .name_wrapper {
	font-size: calc(61 * var(--pixelunit));
	line-height: calc(66 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='61'] > .name > .city_wrapper {
	font-size: calc(18 * var(--pixelunit));
	line-height: calc(24 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='63'] > .name > .name_wrapper {
	font-size: calc(63 * var(--pixelunit));
	line-height: calc(65 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='63'] > .name > .city_wrapper {
	font-size: calc(18 * var(--pixelunit));
	line-height: calc(21 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='65'] > .name > .name_wrapper {
	font-size: calc(65 * var(--pixelunit));
	line-height: calc(70 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='65'] > .name > .city_wrapper {
	font-size: calc(19 * var(--pixelunit));
	line-height: calc(25 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='69'] > .name > .name_wrapper {
	font-size: calc(69 * var(--pixelunit));
	line-height: calc(77 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='69'] > .name > .city_wrapper {
	font-size: calc(20 * var(--pixelunit));
	line-height: calc(27 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='70'] > .name > .name_wrapper {
	font-size: calc(70 * var(--pixelunit));
	line-height: calc(75 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='70'] > .name > .city_wrapper {
	font-size: calc(20 * var(--pixelunit));
	line-height: calc(24 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='73'] > .name > .name_wrapper {
	font-size: calc(73 * var(--pixelunit));
	line-height: calc(78 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='73'] > .name > .city_wrapper {
	font-size: calc(21 * var(--pixelunit));
	line-height: calc(26 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='77'] > .name > .name_wrapper {
	font-size: calc(77 * var(--pixelunit));
	line-height: calc(83 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='77'] > .name > .city_wrapper {
	font-size: calc(22 * var(--pixelunit));
	line-height: calc(28 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='81'] > .name > .name_wrapper {
	font-size: calc(81 * var(--pixelunit));
	line-height: calc(88 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='81'] > .name > .city_wrapper {
	font-size: calc(23 * var(--pixelunit));
	line-height: calc(28 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='84'] > .name > .name_wrapper {
	font-size: calc(84 * var(--pixelunit));
	line-height: calc(90 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='84'] > .name > .city_wrapper {
	font-size: calc(24 * var(--pixelunit));
	line-height: calc(30 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='85'] > .name > .name_wrapper {
	font-size: calc(85 * var(--pixelunit));
	line-height: calc(90 * var(--pixelunit));
}

.name_city_wrapper[data-font-size='85'] > .name > .city_wrapper {
	font-size: calc(24 * var(--pixelunit));
	line-height: calc(30 * var(--pixelunit));
}

/*Schriftfarben*/
.font_color_white {
	color: #ffffff;
}

.profile_element {
	color: #fff;
}

/*Hintergrundfarben*/
.background_dark.profile_element_content,
.background_dark {
	background-color: var(--darkbackgroundgray);
}

.element_background {
	background-color: var(--elementbackground);
}

.background_light {
	background-color: var(--textgray);
}

.background_transdark {
	background-color: rgba(155, 155, 155, 1);
}

.profile_element.size_L, .profile_element.size_M, .profile_element.size_S {
	position: relative;
	width: 100%;
}

.profile_element.size_L:before {
	display: block;
	content: '';
	padding-bottom: 50.5%;
	width: 100%;
}

.profile_element.size_L.header:before {
	padding-bottom: 56.25%;
}

.profile_element.size_M:before {
	display: block;
	content: '';
	padding-bottom: 41.76%;
	width: 100%;
}

.profile_element.size_S:before {
	display: block;
	content: '';
	padding-bottom: 34.4%;
	width: 100%;
}

.profile_element > .profile_element_content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.profile_element > .profile_element_content > .inner_profile_element_content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--lightgray);
	z-index: 2;
}

.absolute_inner_content {
	position: relative;
	height: 100%;
	width: 100%;
}

/*Presspack + Request*/
.presspack_request_wrapper {
	position: absolute;
	z-index: 5;
	height: calc(((var(--pixelunit))) * 30);
	width: calc(((var(--pixelunit))) * 224);
}

.presspack_request {
	height: 50%;
	width: auto;
}

.presspack_request_wrapper.bottom_centered {
	bottom: calc(((var(--pixelunit))) * 50);
}

.presspack_request_wrapper.left_third_centered {
	left: 16.66%;
	transform: translateX(-50%);
}

.presspack_request_wrapper.left_half_centered {
	left: 25%;
	transform: translateX(-50%);
}

.presspack_request_wrapper.right_third_centered {
	right: 16.66%;
	transform: translateX(50%);
}

.presspack_request_wrapper.right_half_centered {
	right: 25%;
	transform: translateX(50%);
}

.presspack_request_wrapper.right_27-7 {
	transform: translateX(50%);
}

.element_mode * > .presspack_btn,
.element_mode * > .request_button {
	width: calc(110 * var(--elementpixelunit));
	height: calc(30 * var(--elementpixelunit));
	-webkit-transition: width 2s;
	transition: width 2s;
	-webkit-transition: height 2s;
	transition: height 2s;
}

.presspack_btn,
.request_button {
	width: calc(((var(--pixelunit))) * 110);
	height: calc(((var(--pixelunit))) * 27);
	background: none;
	border: none;
	padding: 0;
	margin-left: calc(((var(--pixelunit))) * 10);
	border-radius: calc(((var(--pixelunit))) * 5);
}

.presspack_btn:hover,
.request_button:hover {
	opacity: 1 !important;
}

.presspack_btn:hover > img,
.request_button:hover > img {
	opacity: 0.8;
}

.request_button {
	float: right;
}

.presspack_btn > img,
.request_button > img,
.presspack_btn > svg,
.request_button > svg {
	width: 100%;
	max-height: 100%;
}

.presspack_request_wrapper > button > .fixed_tooltip {
	top: -50px;
}

.zindex_5 {
	z-index: 5 !important;
}

/*Header*/
.header_colorgradient {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 22%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0.17) 67%, rgba(0, 0, 0, 0.53) 100%);
}

.header_top_line {
	height: 2.5%;
	position: absolute;
	z-index: 10;
	top: 4%;
	color: #000000;
	width: 8.96%;
}

.header_top_line.left {
	left: 3.66%;
}

.header_top_line.right {
	right: 3.66%;
}

.logo_wrapper {
	float: left;
	width: 100%;
	height: 100%;
}

.logo_wrapper > img {
	width: 100%;
	height: 100%;
}

.burger_menue_wrapper {
	float: right;
	width: 60%;
	height: 53%;
	padding-top: 3%;
	overflow: visible;
}

.header_top_line.right > .burger_menue_wrapper > img {
	height: 100%;
	margin-top: 1%;
	float: right;
	margin-left: 20%;
}

#search_header {
	height: 118%;
	margin-top: 0%;
	margin-right: 5%;
}

/*H1*/
.bottom_H1_wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 92%;
	color: #fff;
	z-index: 3;
}

.name_city_wrapper {
	position: absolute;
	left: 3.3%;
	color: #fff;
	/* bottom: 10%; */
	top: 80%;
	z-index: 5 !important;
	max-width: 20%;
	max-height: 100%;
	overflow: hidden;
	height: auto;
	width: auto;
}

.name_city_wrapper > .name {
	height: 100%;
	font-weight: bold;
	font-family: arial;
}

.name_city_wrapper > .name.text_shadow > div,
#mobile_name_wrapper.text_shadow {
	/*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.name_city_wrapper > .name > .city_wrapper {
	margin-left: 0.2em;
	opacity: 0.7;
	letter-spacing: 0.2em;
}

.builder_viewport.element_mode * > .name_city_wrapper > .name > .city_wrapper,
.builder_viewport.element_mode * > .name_city_wrapper > .name > .name_wrapper {
	-webkit-transition: font-size 2s;
	-moz-transition: font-size 2s;
	-o-transition: font-size 2s;
	transition: font-size 2s;
}

.name_city_wrapper > .logo {
	display: none;
	/*height: auto;*/
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.name_city_wrapper > .logo > img {
	width: auto;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.bottom_H1_wrapper > .bottom_wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	/* overflow: hidden; */
	background-color: rgba(29, 29, 29, 0.6);
}

.bottom_H1_wrapper > .bottom_wrapper > div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.bottom_H1_wrapper > .bottom_wrapper > .social_media_wrapper {
	left: 3.3%;
	width: calc(121 * var(--pixelunit));
	overflow: unset;
	height: 40%;
	border-radius: calc(5 * var(--pixelunit));
}

.bottom_H1_wrapper > .bottom_wrapper > .social_media_wrapper > img {
	max-height: 100%;
	height: calc(30 * var(--pixelunit));
	margin-left: calc(22 * var(--pixelunit));
	padding-left: 0;
	float: left;
}

.bottom_H1_wrapper > .bottom_wrapper > .social_media_wrapper > img:first-of-type {
	margin-left: 0;
}

.bottom_H1_wrapper > .bottom_wrapper > .social_media_wrapper > img:last-of-type {
	margin-right: 0;
}

.social_media_wrapper:hover > .social_media_tooltip {
	visibility: inherit;
	opacity: 1;
}

.social_media_bar_transparent {
	overflow: visible !important;
}

.social_media_bar_transparent > .fixed_tooltip {
	visibility: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -50%;
	width: 15% !important;
	color: #fff;
	background-color: rgba(57, 57, 57, 0.9);
	border-radius: 2px;
	z-index: 10;
	padding: 0.3% 0%;
	text-align: center;
}

.social_media_bar_transparent:hover > .fixed_tooltip {
	visibility: unset !important;
}

.bottom_H1_wrapper > .bottom_wrapper > .genre_listing {
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	color: rgba(235, 235, 235, 0.7);
	padding: 0 2%;
	border-radius: calc(5 * var(--pixelunit));
}

.bottom_H1_wrapper > .bottom_wrapper > .presspack_request {
	right: 3.6%;
}

.bottom_H1_wrapper > .bottom_wrapper > .presspack_request > dfn > .presspack_btn {
	margin-right: 15px;
}

/*H2*/
.h2_bottom_border {
	border: 2px solid #fff;
	position: absolute;
	bottom: 3.2%;
	left: 1.25%;
	right: 1.25%;
}

.h2_left_border {
	border: 2px solid #fff;
	position: absolute;
	left: 1.25%;
	bottom: 3.2%;
	top: 5.5%;
}

.h2_right_border {
	border: 2px solid #fff;
	position: absolute;
	right: 1.25%;
	bottom: 3.2%;
	top: 5.5%;
}

/*Profileelemente*/
.background {
	z-index: 3;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.full_size {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}

.full_size.background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile_element[data-id='20M'] * > .background_filter,
.profile_element[data-id='20S'] * > .background_filter {
	top: 20% !important;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.background_filter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
}

.content {
	z-index: 4;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*Audio*/
.audio_element_wrapper {
	z-index: 5;
}

.slideshow_full_bottom * > .playbutton {
	float: left;
	margin-top: -10px;
	margin-right: 5px;
}

/*Audio full bottom*/
.audio_full_bottom {
	bottom: 10%;
	left: 5%;
	right: 5%;
	overflow: hidden;
	height: 10%;
}

.audio_full_bottom > .arrow {
	width: 10%;
	height: 100%;
	float: left;
}

.audio_full_bottom > .arrow > img {
	margin-top: 40%;
	transform: translateY(-50%);
	cursor: pointer;
}

.audio_full_bottom > .arrow > img:hover {
	opacity: 0.9;
}

.audio_full_bottom > .audio_element_wrapper {
	width: 80%;
	float: left;
}

.audio_full_bottom > .audio_element_wrapper > .audio_wave_wrapper > img {
	width: 100%;
}

.full_width_audio {
	width: 100%;
}

.full_width_audio > .audio_wave_wrapper > img {
	width: 100%;
}

.full_width_audio > .audio_title > .playbutton {
	float: left;
	margin-top: -6px;
	margin-right: 5px;
	width: 5%;
}

.playbutton:hover {
	cursor: pointer;
	opacity: 0.8;
}

.full_width_audio > .audio_title > .audio_dropdown > .dropdown_img {
	width: 8%;
	margin-top: 2%;
	margin-left: 5%;
}

.audio_slideshow {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.audio_slideshow > .slick-list {
	height: 100%;
	position: relative;
}

.audio_slideshow > .slick-list > .slick-track > .audio_slider_wrapper {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.slick-slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.audio_slideshow > .slick-list > .slick-track > .audio_slider_wrapper > .audio_element_wrapper {
	position: absolute;
	height: 20%;
	top: 80%;
	transform: translateY(-50%) translateX(25%);
	width: 70%;
}

.audio_slideshow > .slick-arrow {
	bottom: 15% !important;
	top: unset !important;
	z-index: 5;
}

.audio_slideshow > .slick-dots {
	z-index: 5;
	bottom: 1%;
}

.audio_slideshow > .slick-arrow.slick-next {
	right: 10%;
}

.audio_slideshow > .slick-arrow.slick-prev {
	left: 10%;
}

.audio_slideshow * > .wavesurfer_player {
	display: inherit !important;
}

.audio_slideshow * .audio_wave_wrapper {
	height: 40%;
}

/*audio_full_dropdown*/
.audio_full_dropdown {
	height: 10%;
}

.audio_full_dropdown.sizeM {
	height: 20%;
}

.audio_full_dropdown.sizeS {
	height: 30%;
}

.audio_full_dropdown > .audio_title > .audio_dropdown > .dropdown_img {
	height: 50%;
	margin-top: 3%;
	margin-left: 5%;
}

.audio_full_dropdown > .audio_title {
	height: 10% !important;
}

.audio_full_dropdown > .audio_title > .playbutton {
	float: left;
	margin-top: -6px;
	margin-right: 5px;
	width: 5%;
}

.audio_full_dropdown > .audio_title > .playbutton[data-active_playerid='NULL']:hover {
	opacity: 1;
	cursor: default;
}

.audio_full_dropdown > .audio_wave_wrapper {
	height: 50% !important;
}

.audio_wave_wrapper > .wavesurfer_player {
	margin-top: 3%;
	height: 160%;
}

.audio_wave_wrapper > .wavesurfer_player > .wave > wave {
	height: 100% !important;
	width: 100%;
	z-index: 3 !important;
}

.audio_wave_wrapper > .wavesurfer_player > .wave > wave > canvas {
	z-index: 5 !important;
}

.audio_wave_wrapper > .wavesurfer_player > .wave > wave > wave {
	z-index: 6 !important;
}

.audio_full_cover {
	height: 100%;
}

.audio_full_cover > .audio_wave {
	height: 50%;
}

.audio_full_cover * .audio_wave_wrapper {
	height: 60%;
}

/*Media*/
.full_width_media {
	width: 100%;
	height: 100%;
}

.media_wrapper {
	z-index: 4;
}

/*9*/
.profile_element[data-id='9L'] * > .media_wrapper {
	width: 82%;
	height: 82%;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.profile_element[data-id='9M'] * > .media_wrapper {
	width: 56.4%;
	height: 75.4%;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.profile_element[data-id='9S'] * > .media_wrapper {
	width: 43.4%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

/*10*/
.profile_element[data-id='10L'] * > .media_wrapper {
	width: 60%;
	height: 60%;
	top: 11.4%;
	left: 50%;
	transform: translateX(-50%);
}

.profile_element[data-id='10M'] * > .media_wrapper {
	width: 53.4%;
	height: 71.4%;
	top: 12.2%;
	left: 50%;
	transform: translateX(-50%);
}

.profile_element[data-id='10S'] * > .media_wrapper {
	width: 40%;
	height: 65%;
	top: 14.8%;
	left: 50%;
	transform: translateX(-50%);
}

/*11*/
.profile_element[data-id='11L'] * > .media_wrapper {
	width: 60%;
	height: 60%;
	top: 17%;
	left: 50%;
	transform: translateX(-50%);
}

.profile_element[data-id='11M'] * > .media_wrapper {
	width: 53.4%;
	height: 71.4%;
	top: 16%;
	left: 50%;
	transform: translateX(-50%);
}

.profile_element[data-id='11S'] * > .media_wrapper {
	width: 40%;
	height: 65%;
	top: 19.5%;
	left: 50%;
	transform: translateX(-50%);
}

/*12*/
.profile_element[data-id='12L'] * > .media_wrapper {
	width: 60%;
	height: 60%;
	top: 17%;
	left: 50%;
	transform: translateX(-50%);
}

/*18*/
.size_M * > .audio_full_bottom {
	height: 13%;
}

.size_S * > .audio_full_bottom {
	height: 16%;
}

/*19*/
/*20*/
.profile_element[data-id='20M'] * > .audio_wave {
	float: right;
	width: 60%;
	padding: 4%;
	margin-top: 8%;
}

.profile_element[data-id='20M'] * > .element_audio_cover {
	height: 100%;
	background-color: var(--textgray);
	width: 32%;
	float: left;
}

.profile_element[data-id='20M'] * .cover,
.profile_element[data-id='20S'] * .cover {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.audio_wave_wrapper > img {
	width: 100%;
}

.profile_element[data-id='20S'] * > .audio_wave {
	float: right;
	width: 60%;
	padding: 4%;
	margin-top: 5%;
}

.profile_element[data-id='20S'] * > .element_audio_cover {
	height: 100%;
	background-color: var(--textgray);
	width: 31%;
	float: left;
}

/*Audio Dropdown*/
.audio_dropdown {
	position: relative;
	float: left;
	width: 30%;
}

.audio_dropdown > .title {
	float: left;
	width: auto;
	max-width: 90%;
}

.audio_dropdown > .dropdown {
	position: absolute;
	background-color: #ffffff;
	color: #000;
	min-width: 200px;
	width: max-content;
	max-width: 200%;
	left: 5%;
	top: 100%;
	display: none;
	z-index: 5;
}

.audio_dropdown > .dropdown > .dropdown_line {
	padding: 1% 5%;
}

.audio_dropdown > .dropdown > .dropdown_line:hover {
	background-color: #cccccc;
}

/*Audio Volume*/
.audio_volume_slider_wrapper {
	position: absolute;
	bottom: calc(60 * var(--pixelunit));
	right: calc(-26 * var(--pixelunit));
	height: calc(20 * var(--pixelunit));
	width: calc(115 * var(--pixelunit));
	transform: rotate(-90deg);
	z-index: 8;
}

.profile_element[data-id='20S'] * > .audio_volume_slider_wrapper {
	bottom: 0%;
	right: -22%;
}

.profile_element[data-id='20M'] * > .audio_volume_slider_wrapper {
	bottom: -15%;
	right: -32%;
}

.audio_volume_slider_img {
	transform: rotate(90deg);
	float: left;
	cursor: pointer;
}

.audio_volume_slider_img > img {
	width: calc(17 * var(--pixelunit));
	height: calc(13 * var(--pixelunit));
}

.audio_volume_slider_wrapper > .input_slider_wrapper {
	width: calc(88 * var(--pixelunit));
	height: calc(11 * var(--pixelunit));
	border-radius: 15px;
	background-color: #fff;
	display: none;
	float: right;
}

.volume_slider:focus {
	outline: none;
	border: none;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range'] {
	margin-top: 0%;
	width: calc(76 * var(--pixelunit));
	height: calc(6 * var(--pixelunit));
	margin: calc(2.6 * var(--pixelunit)) calc(6 * var(--pixelunit));
	overflow: hidden;
	-webkit-appearance: none;
	border-radius: 10px;
	border: 1px solid #ccc;
	background: #ccc;
	padding: 0;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']:focus {
	outline: none;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']::-moz-range-track {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']::-webkit-slider-thumb {
	box-shadow: none;
	border: 1px solid #cccccc;
	box-shadow: -500px 0px 0px 500px var(--blue);
	height: calc(6 * var(--pixelunit));
	width: calc(6 * var(--pixelunit));
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
	-webkit-appearance: none;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']::-moz-range-thumb {
	box-shadow: none;
	border: 1px solid #cccccc;
	box-shadow: -500px 0px 0px 500px var(--blue);
	height: calc(4 * var(--pixelunit));
	width: calc(4 * var(--pixelunit));
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
	-webkit-appearance: none;
}

.audio_volume_slider_wrapper > .input_slider_wrapper > input[type='range']::-moz-focus-outer {
	border: 0;
}

/*Video*/
.inner_profile_element_content > .content > .video-js > video,
.inner_profile_element_content > .content > .video-js {
	width: 100%;
	height: 100%;
}

.video-js > video,
.video-js {
	width: 100%;
	height: 100%;
}

video[poster] {
	object-fit: cover;
}

/*Social-Media*/
.social_media_bar_transparent {
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;
	height: 4%;
	padding-top: 1%;
}

.profile_element.size_M * .social_media_bar_transparent {
	height: 5%;
}

.profile_element.size_S * .social_media_bar_transparent {
	height: 6%;
}

.social_media_bar_transparent > .social_wrapper {
	width: 33%;
	float: left;
	position: relative;
	height: 100%;
}

.social_media_bar_transparent > .social_wrapper.half {
	width: 50%;
}

.social_media_bar_transparent > .social_wrapper > .color_change {
	position: absolute;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	width: auto !important;
	text-align: center;
}

.social_media_bar_transparent > .social_wrapper > .color_change > img {
	height: 60%;
	margin-top: 1%;
	/*float: left;*/
	margin-right: 2%;
}

.social_media_bar_transparent > .social_wrapper > .color_change > span {
	width: auto;
	/*  float: left;*/
}

.background_blur_dark {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	filter: blur(1px);
	border-radius: 2px;
}

/* Tooltips */
.fixed_tooltip.hidden {
	display: none !important;
}

/*Ladescreens*/
.full_loadscreen {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: url(/signed/src/icns/loading_screen.gif);
	background-position: center;
	background-size: calc(70 * var(--pixelunit));
	background-repeat: no-repeat;
}
