:root {
	/* iPhone 6 Bildschirmauflösung = 1334x750px */
	--mobile_pixelunit: 20vw / 750;
}

/*Schriftgrößen Namensplatzierung*/
#mobile_name_wrapper[data-font-size='14'] {
	font-size: calc(14 * var(--mobile_pixelunit));
	line-height: calc(17 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='21'] {
	font-size: calc(21 * var(--mobile_pixelunit));
	line-height: calc(24 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='28'] {
	font-size: calc(28 * var(--mobile_pixelunit));
	line-height: calc(31 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='35'] {
	font-size: calc(35 * var(--mobile_pixelunit));
	line-height: calc(40 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='42'] {
	font-size: calc(42 * var(--mobile_pixelunit));
	line-height: calc(45 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='49'] {
	font-size: calc(49 * var(--mobile_pixelunit));
	line-height: calc(52 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='56'] {
	font-size: calc(56 * var(--mobile_pixelunit));
	line-height: calc(59 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='63'] {
	font-size: calc(63 * var(--mobile_pixelunit));
	line-height: calc(65 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='70'] {
	font-size: calc(70 * var(--mobile_pixelunit));
	line-height: calc(75 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='77'] {
	font-size: calc(77 * var(--mobile_pixelunit));
	line-height: calc(84 * var(--mobile_pixelunit));
}

#mobile_name_wrapper[data-font-size='84'] {
	font-size: calc(84 * var(--mobile_pixelunit));
	line-height: calc(90 * var(--mobile_pixelunit));
}
