.vert_centered.horz_centered {
  transform: translateX(-50%) translateY(-50%);
}

/*Widths*/
.width_20 {
  width: 20% !important;
}

.width_25 {
  width: 25% !important;
}

.width_30 {
  width: 30% !important;
}

.one_third {
  width: calc(100% / 3);
}

.width_38 {
  width: 38%;
}

.width_40 {
  width: 40% !important;
}

.width_43 {
  width: 43%;
}

.width_50 {
  width: 50% !important;
}

.width_53-4 {
  width: 53.4%;
}

.width_56 {
  width: 56%;
}

.two_third {
  width: calc(100% / 3 * 2);
}

.width_60 {
  width: 60%;
}

.width_64 {
  width: 64%;
}

.width_69 {
  width: 69%;
}

.width_74 {
  width: 74% !important;
}

.width_78 {
  width: 78%;
}

.width_80 {
  width: 80% !important;
}

.width_82 {
  width: 82%;
}

.width_90 {
  width: 90%;
}

.full_width {
  width: 100%;
}

/*Heights*/
.height_auto {
  height: auto;
}

.height_2 {
  height: 2%;
}

.height_2-5 {
  height: 2.5%;
}

.height_3 {
  height: 3%;
}

.height_3-5 {
  height: 3.5%;
}

.height_3-7 {
  height: 3.7%;
}

.height_9 {
  height: 9%;
}

.height_10 {
  height: 10%;
}

.height_11-5 {
  height: 11.5%;
}

.height_26 {
  height: 26%;
}

.height_30 {
  height: 30%;
}

.height_38 {
  height: 38%;
}

.height_46 {
  height: 46%;
}

.height_50 {
  height: 50%;
}

.height_52 {
  height: 52%;
}

.height_56 {
  height: 56%;
}

.height_57 {
  height: 57%;
}

.height_58 {
  height: 58%;
}

.height_59 {
  height: 59%;
}

.height_62 {
  height: 62%;
}

.height_64 {
  height: 64%;
}

.height_65 {
  height: 65%;
}

.height_66 {
  height: 66%;
}

.height_68 {
  height: 68%;
}

.height_69 {
  height: 69%;
}

.height_70 {
  height: 70% !important;
}

.height_75 {
  height: 75%;
}

.height_76 {
  height: 76% !important;
}

.height_78 {
  height: 78% !important;
}

.height_79 {
  height: 79% !important;
}

.height_82 {
  height: 82%;
}

.height_88 {
  height: 88%;
}

.full_height {
  height: 100%;
}

/*Centered Positionierung*/
.vert_centered {
  top: 50%;
  transform: translateY(-50%);
}

.vert_half_centered {
  top: 25%;
  transform: translateY(-50%);
}

.horz_centered {
  left: 50%;
  transform: translateX(-50%);
}

.full_center {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.right_center {
  left: 75%;
  transform: translateX(-50%);
}

.right_full_center {
  top: 50%;
  left: 75%;
  transform: translate(-50%);
}

.left_half_centered {
  left: 25%;
  transform: translateX(-50%);
}

.left_center {
  top: 50%;
  left: 25%;
  transform: translate(-50%);
}

.left_full_center {
  top: 50%;
  left: 25%;
  transform: translate(-50%);
}

.top_position {
  top: 3%;
}

.absolute.left {
  left: 0;
}

.absolute.right {
  right: 0;
}

.absolute.third_middle {
  left: calc(100% / 3);
}

/*Position right*/
.right_7 {
  right: 7%;
}

.right_9 {
  right: 9%;
}

.right_27-7 {
  right: 27.7%;
}

/*Position left*/
.left_7 {
  left: 7%;
}

.left_9 {
  left: 9%;
}

.left_10 {
  left: 10%;
}

/*Positionierungen Top*/
.top_6 {
  top: 6%;
}

.top_6-7 {
  top: 6.7%;
}

.top_8 {
  top: 8%;
}

.top_9 {
  top: 9%;
}

.top_10 {
  top: 10%;
}

.top_11 {
  top: 11%;
}

.top_12 {
  top: 12%;
}

.top_12-6 {
  top: 12.6%;
}

.top_13 {
  top: 13%;
}

.top_13-5 {
  top: 13.5%;
}

.top_14 {
  top: 14%;
}

.top_15 {
  top: 15%;
}

.top_16 {
  top: 16%;
}

.top_17 {
  top: 17%;
}

.top_18 {
  top: 18%;
}

.top_19 {
  top: 19%;
}

.top_20 {
  top: 20%;
}

.top_21 {
  top: 21%;
}

.top_21-5 {
  top: 21.5%;
}

.top_22 {
  top: 22%;
}

.top_23 {
  top: 23%;
}

.top_27 {
  top: 27%;
}

.top_28 {
  top: 28%;
}

.top_46 {
  top: 46%;
}

.top_51 {
  top: 51%;
}

.top_56 {
  top: 56%;
}

.top_59 {
  top: 59%;
}

.top_64 {
  top: 64%;
}

.top_74 {
  top: 74%;
}

.top_76 {
  top: 76% !important;
}

.top_77 {
  top: 77%;
}

.top_78 {
  top: 78%;
}

.top_80 {
  top: 80%;
}

.top_82 {
  top: 82%;
}

.top_83 {
  top: 83%;
}

.top_86 {
  top: 86%;
}

.top_88 {
  top: 88%;
}

/**/
.bottom_2 {
  bottom: 2%;
}

.bottom_5 {
  bottom: 5%;
}

.bottom_7 {
  bottom: 7%;
}

.bottom_8 {
  bottom: 8%;
}

.bottom_9 {
  bottom: 9%;
}

.bottom_10 {
  bottom: 10%;
}

.bottom_11 {
  bottom: 11%;
}

.bottom_12 {
  bottom: 12%;
}

.bottom_13 {
  bottom: 13%;
}

/*Margins und Paddings*/
.paddingtop_2 {
  padding-top: 2%;
}

.margintop_-1 {
  margin-top: -1%;
}
