:root {
  /* 1px in 1366 im Builderbody in normaler Ansicht */
  --pixelunit: 100vw / 1366 !important;
}

body {
  background: #000;
}

.profile_element * > .textinput_textarea {
  font-size: calc(12 * var(--pixelunit)) !important;
}

.profile_element * > .textinput_textarea::before {
  content: var(--pixelunit);
  position: absolute;
  top: 0;
  color: #fff;
}

.full_size_background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
