.profile_element_preview {
	width: calc(100% - 12px);
	margin: 40px 6px;
	margin-top: 0;
	cursor: pointer;
	position: relative;
}

.profile_element_preview > img {
	width: 100%;
}

.profile_element_preview > .listing_preview_background {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/* background-color: rgba(119, 119, 119, 0.8); */
	background-position: center;
	background-size: 7% auto;
	background-repeat: no-repeat;
	/* background-image: url(/signed/src/icns/preview_eye.png); */
	display: none;
}

.profile_element_preview:not(.selected):hover > .listing_preview_background {
	display: inline;
}

.profile_element_preview.selected {
	width: calc(100% - 6px);
	margin: 39px 0px;
	margin-top: 0;
	margin-left: 3px;
	border: 2px solid var(--blue);
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
	opacity: 1;
}

.profile_element_preview:not(.filter) {
	transition: opacity 0.2s;
}

.profile_element_preview {
	opacity: 0.8;
}

.profile_element_preview:hover {
	/*	width: calc(100% - 6px);
	margin: 39px 0px;
	margin-left: 3px;
	margin-top: 0;*/
	opacity: 1;
}

.element_listing_filter {
	scrollbar-width: none;
}

.element_listing_filter::-webkit-scrollbar {
	display: none;
}

.profile_element.previewed {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.profile_element.previewed > img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	top: 0;
}

.profile_element.previewed > .previewed_element_hover_effect {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(69, 69, 69, 0.7);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/signed/src/icns/add_element_hover_plus.png);
	display: none;
	background-size: 30%;
}

.profile_element.previewed:hover > .previewed_element_hover_effect {
	display: inline;
}

.profile_element.previewed:hover {
	cursor: pointer;
}
