.mobile_preview_body {
  overflow-y: scroll;
  scrollbar-width: none;
}

.mobile_preview_body::-webkit-scrollbar {
  display: none;
}

.mobile_preview_body.landscape * {
  font-size: 7px;
}

.mobile_preview_body.landscape * > button {
  font-size: 5px;
  width: 40%;
  height: 0.7vw !important;
  background-size: 0.3vw;
  border-radius: 2px;
}

.mobile_preview_body.landscape * > .genre_listing {
  font-size: 7px;
}

.mobile_preview_body.landscape * > .bottom_H1_wrapper {
  height: auto !important;
  bottom: 0 !important;
}

.mobile_preview_body.landscape * > .name_wrapper {
  font-size: 16px;
}

.mobile_preview_body.landscape * > .bottom_H1_wrapper > .bottom_wrapper {
  height: 30px;
}

/*Portrait*/
.mobile_header {
  height: 100%;
  background-size: cover;
  position: relative;
}

.mobile_header > .header_menue {
  padding: 2% 5%;
}

.mobile_header > .arrow_wrapper {
  position: absolute;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
}

.mobile_header > .name_wrapper {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 20px;
}

.mobile_infos {
  color: #000;
  padding-left: 10%;
  font-weight: 600;
  font-size: 10px;
}

.mobile_infos > .loc_wrapper {
  margin-top: 5%;
}

.mobile_infos > .genre_wrapper {
  margin-top: 5%;
}

.mobile_infos > .actions {
  margin: auto;
  margin-top: 5%;
  margin-left: -5%;
  text-align: center;
  margin-bottom: 10%;
}

.mobile_infos > .actions > button {
  border-color: #000;
  color: #000;
}

.mobile_infos > .actions > .presspack_btn {
  border-color: #000;
  color: #000;
  margin-left: 0;
}

.mobile_infos > .actions > .request_button {
  border-color: #000;
  color: #fff;
  margin-right: 0;
  background-color: #000;
}
