/* Tooltips */
.fixed_tooltip {
	visibility: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	background-color: rgba(57, 57, 57, 1) !important;
	border-radius: 5px !important;
	z-index: 5;
	padding: calc(5 * var(--pixelunit)) calc(15 * var(--pixelunit)) !important;
	top: calc(-50 * var(--pixelunit)) !important;
	text-align: center;
	letter-spacing: 1;
	width: max-content;
}

.genre_tooltip {
	/* top: calc(-40 * var(--pixelunit)) !important; */
	height: auto;
	float: left;
	z-index: 1000;
	text-decoration: none;
	text-transform: none;
}

.tooltip_parent:hover > .genre_tooltip {
	visibility: visible;
}

/*Edit Icons*/
.edit_icon_wrapper {
	height: 4%;
	text-align: center;
	margin: auto;
	z-index: 3;
}

.edit_icon_wrapper.right_middle {
	right: 25%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	float: right;
}

.edit_icon_wrapper.left_middle {
	left: 25%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	float: left;
}

.edit_icon_wrapper > img {
	cursor: pointer;
	z-index: 10;
}

.full_size_background {
}

/*Profil-Komponenten*/
/*Text + Headline*/
.headline_input,
.textinput_textarea {
	z-index: 6;
}

.text_color_parent {
	color: #fff;
}

.headline_input {
	background: none;
	border: none;
	border-radius: 0;
	/* margin-bottom: 1px;
  width: 100%;
  height: 3%;
  margin-top: 4%;
  margin: 2% 0;
  padding: 2px; */
}

.headline_input::placeholder {
	color: #fff;
}

.textinput_textarea {
	resize: none;
	background: none;
	padding: 0;
	word-break: break-word;
	overflow: hidden;
	scrollbar-width: 0;
}

.textinput_textarea.textarea_w_headline {
	height: calc(100% - 10%);
}

/*Text frei*/
.full_size_content > .inner > .edit_icon_wrapper {
	position: absolute;
	left: 25%;
	top: calc(50% - 20px);
}

.text_120_free.small {
	width: 33%;
	margin-right: 8.8%;
	margin-left: 8.8%;
	width: 26%;
	padding: 0 3.6%;
	height: 80%;
	position: absolute;
	right: 8.8%;
}

.text_120_free.big {
	width: 33%;
	margin-right: 8.8%;
	margin-left: 8.8%;
	width: 26%;
	padding: 0 3.6%;
	height: 80%;
	position: absolute;
	right: 8.8%;
}

.text_120_free.small.right_120_free {
	right: 8.8%;
}

.text_120_free.small.left_120_free {
	left: 8.8%;
}

.text_120_free > .headline_input {
	margin-top: 6%;
	margin-bottom: 3.6%;
}

.size_L > div > div > .text_120_free {
	margin-top: 5%;
	top: 0;
	right: 0;
}

.size_M > div > div > .text_120_free {
	margin-top: 5%;
	top: 0;
	right: 0;
}

/*Media*/
.media_full_width {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.media_full_width.full_height {
	height: 100%;
}

.media_full_width:not(.full_height):before {
	content: '';
	padding-bottom: 56.25%;
	display: block;
}

.media_full_width > .media_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.media_icns_wrapper > img {
	/* width: 20px; */
}

.media_full_width > .media_content > .media_icns_wrapper {
	margin: auto;
	text-align: center;
	padding-top: calc(40% - 10px);
}

.media_full_width:not(.full_height) > .media_content > .media_icns_wrapper {
	margin: auto;
	text-align: center;
	padding-top: calc(28.125% - 10px);
}

/*12L*/
.full_size_content.L_12 {
	left: 20%;
	right: 20%;
}

.three_rows_text {
	height: 9%;
	margin-top: 6.5%;
}

/*Social Media Hover*/
.profile_element > .profile_element_content > .full_size_background > .social_media_bar_transparent.bottom:hover {
	border: 2px solid var(--blue);
	margin: 0;
}

.social_media_wrapper:hover > .social_media_tooltip {
	visibility: inherit;
	opacity: 1;
}

.social_media_tooltip {
	position: absolute;
	top: calc(-45 * var(--pixelunit)) !important;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	text-align: center;
}

.social_media_bar_transparent {
	overflow: visible !important;
}

.social_media_bar_transparent:hover > .fixed_tooltip {
	visibility: unset !important;
}

/*Profil-Elemente*/
/*14*/
.full_size_content.L_14 > .edit_icon_wrapper,
.full_size_content.M_14 > .edit_icon_wrapper,
.full_size_content.S_14 > .edit_icon_wrapper {
}

.edit_icon_wrapper.right_middle {
}

/*17*/
.full_size_content.bottom_anker {
	bottom: 4%;
	top: unset;
	height: auto !important;
}

/*Presspack und Anfrage*/
.request_button:hover {
	position: relative;
	opacity: 1;
}

.request_button:hover > .request_tooltip {
	visibility: inherit;
	opacity: 1;
}

.request_tooltip {
	/* width: calc(160 * var(--pixelunit)) !important; */
	width: max-content;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.presspack_btn:hover {
	position: relative;
	opacity: 1;
}

.presspack_btn:not(.disabled):hover > img {
	border-radius: 0.5em;
	margin-left: -1px;
	box-shadow: 0 0 0 2px var(--blue);
}

.request_button:not(.disabled):hover > img {
	border-radius: 0.5em;
	margin-left: -1px;
	box-shadow: 0 0 0 2px var(--blue);
}

.presspack_btn:hover > .presspack_tooltip {
	visibility: inherit;
	opacity: 1;
}

.presspack_tooltip {
	/* width: calc(180 * var(--pixelunit)) !important; */
	width: max-content;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.profile_element[data-id='A1S'] * > .fixed_tooltip {
	top: -25px;
	display: inline !important;
}

/*Namensplatzierung*/
.profile_element_content.h1 > .placement_border {
	left: 3.3%;
	bottom: 8.5%;
	position: absolute;
}

.profile_element_content.h1 > .placement_border.active_placement {
	right: 3.3%;
	top: 6%;
	background-image: url(/signed/src/layer/positioning_cross_white.svg);
	background-position: center;
	background-size: cover;
	z-index: 4;
	border: 1px solid var(--customwhite);
	outline: 1px solid var(--darkgray);
}

/*Builder Icons*/
.builder_icons_wrapper {
	position: absolute;
	z-index: 5;
}

.builder_icon {
	cursor: pointer;
	opacity: 0.6;
	height: calc(30 * var(--pixelunit));
	max-width: calc(30 * var(--pixelunit));
	margin: 0 calc(10 * var(--pixelunit));
}

.builder_icon:hover {
	opacity: 1;
}

/*Audio*/
.audio_element_wrapper.empty {
	cursor: pointer;
}

.audio_element_wrapper.empty * > .playbutton {
	cursor: default !important;
}
