/*Audio Popup*/
#audio_popup_inner {
  width: 900px;
  height: auto;
}

.sortable_audios_wrapper {
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

.audio_edit_wrapper {
  background-color: #cccccc;
  opacity: 0.5;
  display: none;
}

.audio_wrapper {
  width: 20%;
  margin-right: 5%;
  float: left;
}

.audio_wrapper:last-of-type {
  margin-right: 0;
}

.audio_wrapper.empty > .headline,
.audio_wrapper.empty > .title {
  opacity: 0.5;
}

.audio_wrapper > .headline,
.audio_wrapper > .title {
  text-align: center;
}

.audio_wrapper > .audio {
  border: 1px dashed #ccc;
  cursor: pointer;
  background-size: cover;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.audio_wrapper.empty > .audio {
  background-size: 50%;
  opacity: 0.5;
}

.audio_wrapper.active > .audio {
  border: 1px solid var(--blue);
}

.audio_wrapper.empty > .audio:hover {
  background-image: url(/signed/src/icns/add_audio.svg);
  opacity: 1;
}

.divider {
  border: 1px solid #cccccc;
  margin: 20px -30px;
}

.audio_upload_wrapper {
  width: 533px;
  margin: auto;
}

.audio_cover {
  width: 100%;
  height: 222px;
  background-color: var(--mediagray);
  margin: auto;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.audio_upload_wrapper.empty > .audio_cover {
  background-image: url(/signed/src/icns/filter/photo.svg);
  background-size: 30px;
}

.audio_upload_wrapper.empty > .audio_cover:hover {
  opacity: 0.9;
  cursor: pointer;
}

.audio_title_wrapper {
  margin-bottom: 50px;
}

#delete_audio {
  padding: 0px 15px;
  margin-left: -10px;
}

#audio_error_message_wrapper {
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
}

#audio_error_message {
  height: 20px;
}

.audio_button_cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10%;
  height: 20%;
  z-index: 1;
  background-color: #fff;
  display: none;
}

/*Croppie*/
.audio_cover > .cr-slider-wrap {
  width: 100% !important;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 100px;
  border: none !important;
}

.audio_cover > .cr-slider-wrap > .cr-slider {
  border: none !important;
  float: left;
  width: 50%;
}

.audio_cover > .cr-slider-wrap > img {
  float: left;
  margin-top: 10px;
}

.audio_cover > .cr-slider-wrap > .left {
  margin-top: 17px;
}

.audio_cover > .cr-slider-wrap > div {
  float: right;
  width: auto;
}

.audio_cover > .cr-slider-wrap > div > button {
  width: 88px;
}

.audio_cover > .audio_wave {
  width: 80%;
  position: absolute;
  bottom: 30px;
  z-index: 5;
  left: 10%;
  display: none;
  padding-top: 2px;
}

.audio_cover > .audio_wave > .left {
  width: calc(100% / 9 * 4);
  height: 100%;
  padding: 2px 0;
  float: left;
  height: 25px !important;
  overflow: hidden;
}

.audio_cover > .audio_wave > .left:hover,
.audio_cover > .audio_wave > .right:hover {
  box-shadow: inset 0 0 0 2px var(--blue);
}

.audio_cover > .audio_wave > .right {
  width: calc(100% / 9 * 5);
  height: 100%;
  padding: 2px 0;
  float: right;
  height: 25px !important;
  overflow: hidden;
}

.audio_cover > .audio_wave > div > .full_width > svg {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  height: auto;
}

.audio_wave > .tooltip {
  cursor: pointer;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 10px;
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: rgba(57, 57, 57, 0.7);
  display: none;
}

.audio_wave:hover > .tooltip {
  display: inline;
}

/*Colorpicker*/
.audio_upload_wrapper > .pcr-app {
  bottom: -100;
  left: 250px;
  position: absolute;
  top: unset;
}

/*Coverformate*/
#audio_popup[data-coverformat="square"] * > .audio {
  height: 120px !important;
  width: 120px;
}

#audio_popup[data-coverformat="square"] * > .cr-slider-wrap {
  height: 100px !important;
  width: 600px !important;
  position: absolute;
  left: -150px;
}

#audio_popup[data-coverformat="square"] * > .audio_cover {
  height: 300px;
  width: 300px;
}

#audio_popup[data-coverformat="full_l"] * > .audio {
  height: 95px;
}

#audio_popup[data-coverformat="full_l"] * > .audio_cover {
  height: 300px;
}

#audio_popup[data-coverformat="full_m"] * > .audio {
  height: 70px;
}

#audio_popup[data-coverformat="full_m"] * > .audio_cover {
  height: 222px;
}

#audio_popup[data-coverformat="full_s"] * > .audio {
  height: 58px;
}

#audio_popup[data-coverformat="full_s"] * > .audio_cover {
  height: 183.4px;
}

/*Audio Menü*/
.audio_menue {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.audio_menue > .action_wrapper {
  overflow: hidden;
  background-color: rgba(64, 64, 64, 1);
  float: right;
  cursor: pointer;
}

.audio_menue > .action_wrapper > span {
  margin: 0px 3px;
  margin-top: 2px;
  overflow: hidden;
}

.audio_menue > div > span {
  cursor: pointer;
}

.audio_menue > div > span > img {
  float: left;
  padding: 5px 5px;
  padding-top: 0;
}

.audio_menue > div > .element_dropdown {
  float: left;
}

.audio_menue > div > .element_dropdown > img {
  margin-top: 4px;
}

.audio_menue > .dropdown {
  background-color: #fff;
  margin-top: 16px;
  border-radius: 2px;
  display: none;
}

.audio_menue > .dropdown > .audio_dropdown_line {
  padding: 4px 10px;
  cursor: pointer;
}

.audio_menue > .dropdown > .audio_dropdown_line[data-action="delete"] {
  background-color: #cecece;
}

.audio_menue > .dropdown > .audio_dropdown_line:hover {
  background-color: #cccccc;
}

#upload_audio {
  border: none;
  background: none;
  margin-left: 20px;
}

#upload_audio > img {
  float: left;
  margin-right: 4px;
}

#upload_audio > span {
  display: none;
}
