#gif_popup {
  /* display: inline !important; */
}

#gif_popup_inner {
  width: 540px;
  height: 209px;
  padding: auto 30px;
}

#upload_gif {
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
}

#upload_gif > img {
  margin-top: -3px;
  float: left;
  margin-left: 42%;
  margin-right: -40%;
  transform: translateX(-50%);
}

#gif_popup_content > .popup_footer {
  width: 50%;
  float: left;
  margin-top: 23px;
  line-height: 20px;
}

.left_popup_footer > a {
  color: #acacac;
  padding-left: 17px;
  background-image: url(/signed/src/icns/external_link.svg);
  background-position: 1px;
  background-size: 12px;
  background-repeat: no-repeat;
}

#gif_input {
  display: none;
}
