/*Presspack*/
#presspack_popup_inner {
  margin-top: 50px;
  width: 900px;
  height: 700px;
}

#presspack_popup_content {
  overflow-y: scroll;
  height: 78%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.presspack_type {
  overflow: hidden;
  margin: 10px 0px;
}

.presspack_type:not(.active) {
  display: none;
}

.presspack_type_name {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.presspack_pic_list {
  margin: 0px -20px;
}

.presspack_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  width: 125px;
  float: left;
  margin: 5px 23px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
}

.presspack_img.add_img {
  background-image: url(/signed/src/icns/plus_big.svg);
  background-color: #e6e6e6;
  background-size: 50%;
  cursor: pointer;
}

.presspack_img > input {
  display: none;
}

.presspack_img.add_img > .img_delete_btn {
  display: none;
}

.img_delete_btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.presspack_type_name {
  overflow: hidden;
}

.presspack_type_name > span {
  float: left;
}

.delete_presspack_type {
  float: left;
  margin-left: 10px;
  margin-top: 1px;
}

.presspack_menue_btn.reupload {
  border-bottom: 1px solid #ccc;
}

.add_presspack_type {
  font-size: 10px;
  margin-left: 10px;
  width: 110px !important;
  background-size: 10px !important;
  background-position-y: 4px !important;
}

.add_presspack_type > img {
}

.bottom_left_div > div {
  float: left;
  margin-right: 10px;
}

.bottom_left_div {
  margin-bottom: 20px;
  margin-left: 10px;
}

.bottom_left_div > div > select {
  margin-top: -3px;
}

#presspack_popup_content > .manual_dropdown {
}

#delete_presspack_popup_inner {
  padding: 30px 40px;
  width: 240px;
  height: 100px;
  text-align: center;
}

#delete_presspack_popup_inner > .button_wrapper {
  margin: auto;
  margin-top: 15px;
}

#delete_presspack_popup_inner > .button_wrapper > button {
  width: 90px;
}

.presspack_info {
  clear: both;
}

.presspack_info_select {
  clear: both;
  margin-top: 15px;
}

.presspack_info_select > select {
  border-radius: 2px;
  width: 300px;
}
