/* Choose Template */
#choose_template_popup_inner {
	width: 1146px;
	height: 718px;
}

#choose_template_popup_content {
	height: 650px;
	overflow-y: scroll;
	scrollbar-width: none;
}

#choose_template_popup_content::-webkit-scrollbar {
	display: none;
}

.template_line {
	margin-bottom: 40px;
	overflow: hidden;
}

.template_wrapper {
	width: 45%;
	float: left;
}

.template_wrapper:first-of-type {
	padding-right: 10%;
}

.template_img {
	width: 100%;
	position: relative;
}

.template_img::before {
	padding-bottom: 56.25%;
	display: block;
	width: 100%;
	content: '';
	background-color: var(--lightgray);
}

.template_desc > .template_name {
	float: left;
	font-size: 11px;
	padding-top: 15px;
	margin-left: 10px;
	font-weight: 600;
}

.template_desc > .template_buttons {
	float: right;
	margin-right: 10px;
}

/* Änderungen speichern */
#save_changes_popup_inner {
	width: 390px;
	height: 200px;
}

#save_changes_popup_content {
	margin-top: 30px;
	line-height: 30px;
}

.left_buttons {
	float: right;
	margin-top: 20px;
}

.left_buttons > button {
	margin-left: 10px;
}

/*Presskit ersetzen*/
#overwrite_presskit_popup_inner {
	width: 390px;
	height: 200px;
}

#overwrite_presskit_popup_content {
	margin-top: 30px;
	line-height: 30px;
}

/* Sprachwahl */
/* #choose_language_popup {
	display: inline;
} */

#choose_language_popup_content > .full_width > div {
	float: left;
}

/*Speichern unter*/
#save_as_popup_inner {
	width: 390px;
	height: 201px;
}

#save_as_name_input {
	margin-top: 10px;
	width: 238px;
	border: none;
	border-bottom: 1px solid #cccccc;
	margin-left: 50px;
	font-size: 14px;
}

#save_as_popup_content > .left_buttons {
	margin-top: 45px;
}

/* Überschreiben Popup */
#overwrite_slot_popup {
	/* display: inline; */
}

#overwrite_slot_popup_inner {
	width: 750px;
}

.slot_listing_wrapper {
	width: 100%;
}

.slot_listing_row {
	width: 100%;
	overflow: hidden;
}

.presskit_slot_wrapper {
	width: 45%;
	float: left;
}

.presskit_slot_wrapper:first-of-type {
	padding-right: 5%;
}

.presskit_img_wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	cursor: pointer;
}

.presskit_img_wrapper:before {
	display: block;
	content: '';
	padding-bottom: 56.6%;
	width: 100%;
}

.presskit_slot_preview,
.slot_hover_info,
.slot_action {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.presskit_slot_preview {
	background-color: var(--lightgray);
	z-index: 1;
}

.slot_hover_info {
	z-index: 2;
	transition: all 0.5s ease;
	opacity: 0;
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: rgba(64, 64, 64, 0.6);
}

.presskit_img_wrapper:hover > .slot_hover_info {
	opacity: 1;
}

.slot_action {
	z-index: 3;
	background-color: #4a4a4a;
	color: #fff;
	padding: 10%;
	padding-top: 20%;
	display: none;
}

.slot_action > div {
	float: right;
	margin-top: 15%;
}

.slot_action > div > button {
	width: 103px;
}

.presskit_slot_desc {
	margin-bottom: 70px;
}

.listing_presskit_name {
	float: left;
	max-width: 65%;
	min-width: 20%;
	margin-left: 5%;
	margin-right: 5%;
}

.listing_presskit_last_edited {
	width: 20%;
	float: left;
	margin-right: 5%;
}
