/*Anfragepopup*/
#request_popup_inner {
  width: 870px;
  height: 700px;
  margin-top: 100px;
}

#socials_popup_content {
  overflow: hidden;
  margin-top: 30px;
}

.profile_pic_wrapper {
  width: 150px;
  margin-left: 40px;
  height: 90%;
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.profile_pic_request {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-bottom: 10px;
  border-radius: 2px;
}

.request_info_wrapper {
  width: 65%;
  margin-right: 40px;
  float: right;
  padding-top: 10px;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.additional_questions_append::-webkit-scrollbar {
  display: none;
}

.request_top_line {
  opacity: 0.5;
  margin-bottom: 40px;
}

.full_width.request_line.name {
  margin-top: 30px;
}

.full_width.request_line.mail {
  margin-top: 45px;
}

.full_width.request_line {
  margin-bottom: 10px;
}

.full_width.request_line.spacer_line {
  margin-bottom: 40px;
}

.request_line_desc {
  width: 20%;
  float: left;
}

.request_line_desc.date {
  margin-top: 3px;
}

.request_line_info {
  width: 76%;
  float: right;
}

.request_line_info > .full_line_input {
  width: 100%;
}

.request_line_info > .datepicker,
.request_line_info > .request_playtime > select {
  color: #ccc;
  cursor: default;
}

.request_playtime {
  float: right;
  margin-bottom: 15px;
}

.request_playtime > .playtime_select {
  width: 52px;
  font-size: 10px;
  padding-left: -3px !important;
  background-position-x: calc(100% - 3px);
}

input[name="mail"] {
  margin-bottom: 15px;
}

.request_playtime > div {
  float: left;
  margin-right: 15px;
  margin-top: 2px;
}

.request_line_desc {
  font-weight: 600;
}

.playtime_select {
  margin: 0 15px;
  width: 50px;
}

#playtime_end {
  margin-right: 0;
}

.request_line_info > .full_width_input {
  width: 100%;
}

.additional_infos_wrapper {
  margin-top: 20px;
}

.additional_question_wrapper {
  margin-top: 10px;
}

.additional_question_wrapper > .full_width {
  margin-top: 7px;
}

input[name="additional_question"] {
  width: 75%;
  margin-left: 3px;
  padding-left: 3px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  border-radius: 0;
}

.right > button > img {
  padding-top: 0px;
  height: 12px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -1px;
}

.additional_question_wrapper > div > .right {
  margin-top: 5px;
  font-size: 10px;
}

.additional_question_wrapper > div > .right > input {
  height: 12px;
}

.additional_answer_input {
  width: 100%;
}

#add_question {
  color: #424242;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 10;
  padding-top: 2px;
}

#add_question > .add_question_img {
  float: left;
  margin-right: 10px;
  margin-top: -2px;
}

.message_wrapper {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.message_desc {
  width: 20%;
  height: 100%;
  float: left;
}

.message_text {
  width: 80%;
  height: 100%;
  float: left;
}

.message_text > textarea {
  width: 100%;
  height: 100%;
  padding: 3px;
  resize: none;
}

textarea:disabled {
  background-color: #fff;
}
