/*Slideshow*/
#slideshow_popup_inner {
  position: absolute;
  top: 50%;
  margin-top: 0;
  width: 890px;
  height: auto;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
}

.slideshow_inner_wrapper {
  overflow: hidden;
  margin-right: -20px;
  margin-top: -20px;
}

input[name="picture_input"] {
  display: none;
}

.slideshow_element_wrapper {
  float: left;
  margin-top: 30px;
}

.slideshow_desc {
  clear: both;
  margin-left: 5px;
  opacity: 0.5;
}

.slideshow_element.empty {
  cursor: pointer;
  background-image: url(/signed/src/icns/add_pic.svg) !important;
  border: 1px dotted #ccc;
  background-size: 25px !important;
  opacity: 0.5;
}

.slideshow_element.empty:hover {
  opacity: 1;
}

.slideshow_element {
  width: 394px;
  margin: auto;
  margin: 3px;
  margin-top: 2px;
  height: 100px;
  float: left;
  border: 1px solid #ccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slideshow_element > .drag_positition_note {
  max-width: 80%;
  width: max-content;
  color: #fff;
}

.slideshow_element:not(.empty):not(.active_cropping):hover {
  border: 1px solid var(--blue);
}

/*Slideshow Elementgrößen*/
.slideshow_element_wrapper[data-format="full"] {
  margin-left: 7%;
  width: 38%;
}

.slideshow_element[data-format="full"] {
  height: 177px;
  width: 315px;
}

.slideshow_element_wrapper[data-format="full"] {
  margin-top: 10px !important;
}

.slideshow_element_wrapper {
  width: 50%;
  overflow: hidden;
}

.slideshow_element_wrapper.ui-sortable-helper[data-format="full"] {
  width: 50% !important;
  overflow: hidden;
}

.slideshow_element[data-format="full_m"] {
  width: 385px;
  height: 160px;
}

.slideshow_element_wrapper.ui-sortable-helper:not([data-format="twothird_l"]) {
  width: 50% !important;
  overflow: hidden;
}

.slideshow_element_wrapper.ui-sortable-helper[data-format="twothird_l"],
.slideshow_element_wrapper.ui-sortable-helper[data-format="onethird_l"],
.slideshow_element_wrapper.ui-sortable-helper[data-format="onethird_m"],
.slideshow_element_wrapper.ui-sortable-helper[data-format="onethird_s"] {
  width: 25% !important;
  overflow: hidden;
}

.slideshow_element_wrapper[data-format="twothird_l"],
.slideshow_element_wrapper[data-format="onethird_l"],
.slideshow_element_wrapper[data-format="onethird_m"],
.slideshow_element_wrapper[data-format="onethird_s"],
.slideshow_element_wrapper[data-format="half_l"],
.slideshow_element_wrapper[data-format="half_s"],
.slideshow_element_wrapper[data-format="special_third_l"],
.slideshow_element_wrapper[data-format="special_third_m"],
.slideshow_element_wrapper[data-format="special_third_s"],
.slideshow_element_wrapper[data-format="twothird_m"] {
  width: 25%;
  overflow: hidden;
}

.slideshow_element[data-format="twothird_l"] {
  height: 157px;
  width: 180px;
}

.slideshow_element[data-format="twothird_m"] {
  height: 170px;
  width: 202px;
}

.slideshow_element[data-format="twothird_s"] {
  height: 203.25px;
}

.slideshow_element[data-format="onethird_l"] {
  height: 340px;
  width: 202px;
}

.slideshow_element[data-format="onethird_m"] {
  height: 253px;
  width: 202px;
}

.slideshow_element[data-format="onethird_s"] {
  height: 208px;
  width: 202px;
}

.slideshow_element[data-format="half_l"] {
  height: 225px;
  width: 200px;
}

.slideshow_element[data-format="half_m"] {
  height: 334px;
  width: 400px;
}

.slideshow_element[data-format="half_s"] {
  height: 138px;
  width: 202px;
}

.slideshow_element[data-format="special_third_l"] {
  height: 314px;
  width: 202px;
}

.slideshow_element[data-format="special_third_m"] {
  height: 221px;
  width: 202px;
}

.slideshow_element[data-format="special_third_s"] {
  height: 163px;
  width: 202px;
}

.slideshow_element_wrapper[data-format="special_third_l_long"],
.slideshow_element_wrapper[data-format="special_third_m_long"],
.slideshow_element_wrapper[data-format="special_third_s_long"] {
  width: 25%;
  overflow: hidden;
}

.slideshow_element[data-format="special_third_l_long"] {
  height: 341px;
  width: 202px;
}

.slideshow_element[data-format="special_third_m_long"] {
  height: 223px;
  width: 202px;
}

.slideshow_element[data-format="special_third_s_long"] {
  height: 163px;
  width: 202px;
}

.slideshow_element[data-format="middle"] {
  height: 164.5px;
}

.slideshow_element[data-format="small"] {
  height: 135.5px;
}

.slideshow_element > .slideshow_menue {
  z-index: 3;
  display: none;
}

.slideshow_menue {
  position: absolute;
  right: 0;
  overflow: hidden;
}

.slideshow_element.empty > .slideshow_menue {
  display: none !important;
}

.slideshow_menue_btn {
  float: right;
  cursor: pointer;
}

.slideshow_menue_inner {
  clear: both;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: none;
}

.slideshow_menue_point {
  padding: 5px 10px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

.slideshow_menue_point.upload_pic {
  border-bottom: 1px solid #ccc;
}

.slideshow_menue_point.delete_pic {
  background-color: #cecece;
}

#slideshow_popup_content > .spacer_line {
  margin-top: 30px;
  margin-bottom: 20px;
}

.preview_top_line {
  height: 30px;
  margin-top: -10px;
}

.preview_top_line > .font_weight_heavy.preview_left {
  margin-left: 10px;
  width: calc(35% - 10px) !important;
}

.preview_top_line > .font_weight_heavy.preview_right {
  margin-left: 10px;
  width: calc(65% - 10px) !important;
}

.preview_left {
  width: 35%;
}

.preview_right {
  width: 65%;
}

.slideshow_effect_select {
  width: 225px;
  padding: 0px 10px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.slideshow_effect.slider {
  width: 225px;
  border-bottom: 1px solid #ccc;
}

.slideshow_effect > .effect_time {
  margin-top: 20px;
  width: 200px !important;
  margin: 20px auto;
  margin-bottom: -1px;
}

.slideshow_effect_desc {
  margin-left: 10px;
}

.effect_time_slider {
  height: 0px;
  width: 180px;
  border: none !important;
  border-bottom: 1px solid #cccccc !important;
}

.effect_time_slider_handle {
  cursor: pointer !important;
  border-radius: 20px;
  background-color: #6a6a6a !important;
  border: none !important;
  margin-top: -3px !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.effect_time label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
  font-size: 8px;
  opacity: 0.7;
}

.vertical_slider_line {
  margin-left: calc(50% - 1px);
  width: 0px;
  height: 10px;
  margin-top: -24px;
  margin-bottom: 10px;
  border-left: 2px solid #ccc;
}

/*Slideshow Flexslider*/
.slideshow_demo {
  height: 120px;
  width: 240px;
  border-radius: 2px;
}

.slideshow_demo > .slick-list > .slick-track > .slides {
  background-position: center !important;
  background-size: cover !important;
}

/*Slideshow Cropping*/
.slideshow_preview {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  width: calc(100% - 10px);
  margin-left: -15px;
  padding: 10 25px;
  font-size: 10px;
  height: 160px;
}

.cropper_wrapper.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30;
  padding-bottom: 0px;
  background-color: #fff;
  z-index: 2;
  display: none;
}

.croppie_slider_wrapper.slideshow {
  width: 620px;
  height: 100px;
  margin: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.croppie_slider_wrapper.slideshow > .cropper_desc {
  font-weight: 600;
  margin: 10px;
}

.croppie_slider_wrapper.slideshow > .cr-slider-wrap {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}

.croppie_slider_wrapper.slideshow > .cr-slider-wrap > img {
  width: 12px;
  margin-top: 8px;
}

.croppie_slider_wrapper.slideshow > .cr-slider-wrap > img:first-child {
  float: left;
  margin-top: 16px;
}

.croppie_slider_wrapper.slideshow > .cr-slider-wrap > img:last-child {
  float: right;
}

.croppie_slider_wrapper.slideshow > .cr-slider-wrap > .cr-slider {
  width: 264px;
  border: none;
  float: left;
  margin-top: 0px;
  outline: none;
}

.cr-slider-wrap > div {
  margin: auto;
  overflow: hidden;
  width: 240px;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
  border: none !important;
}

.croppie_btn_wrapper {
  float: right;
  margin-top: 25px;
}

.croppie_btn_wrapper > button {
  float: left;
  margin-right: 10px;
}

.cr-slider-wrap > div > button {
  float: left;
  margin: 5px;
}

.active_cropping {
  border: 1px solid var(--blue);
  /* Verursacht glitch, bei dem das 3. Element direkt unter dem 2. ist und das 4. in einer dritten Reihe */
  /* margin: 2px; */
  /* margin-bottom: 1px; */
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.slideshow_element:hover > .slideshow_menue {
  display: inline;
}

.slideshow_menue {
  display: none;
}

.active_cropping > .slideshow_menue {
  display: none !important;
}

@media screen and (max-height: 770px) {
  #request_popup_inner {
    background-color: #000;
    margin-top: 30px;
    height: 650px;
  }

  #slideshow_popup_inner {
    margin-top: 30px;
  }

  #presspack_popup_inner {
    margin-top: 30px;
    height: 650px;
  }
}
