/*Social Media*/
#socials_popup_inner {
  width: 580px;
  height: 320px;
}

.social_link_wrapper {
  margin: 20px 5px;
  width: 95%;
}

.social_link_wrapper > .counter,
.social_link_wrapper > .social_link_select,
.social_link_wrapper > .social_link_input {
  font-size: 10px;
  color: var(--lightgray);
  border-color: #cccccc;
}

.social_link_wrapper > .counter {
  width: 20px;
  float: left;
  font-weight: 600 !important;
  padding-top: 5px;
  font-weight: 200;
}

.social_link_wrapper > .social_link_select {
  width: 140px;
  margin-right: 15px;
  height: 23px;
  color: inherit;
  background-position-x: calc(100% - 4px);
}

.social_link_wrapper.disabled {
  opacity: 0.3;
}

.social_link_wrapper > .social_link_input {
  width: 285px;
  height: 23px;
  color: inherit;
}

.social_link_wrapper > span {
  /* padding-left: 10px; */
}

.social_link_wrapper > span > img {
  width: 17px;
  height: 12px;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.social_link_wrapper > span > img:hover {
  opacity: 0.8;
}
