/*Video Popup*/
#video_popup_inner {
  width: 600px;
  height: auto;
}

#video_popup_content {
  margin-top: 0 !important;
}

#video_popup_youtube_wrapper {
  display: none;
}

#video_popup_mode_toggle>.inner_wrapper {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.video_popup_mode_toggle {
  float: left;
  width: 135px;
  height: 26px;
  border: 1px solid var(--btngray);
  background-color: #FFF;
  font-weight: 600;
  border-radius: 5px;
}

.video_popup_mode_toggle.right_toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.video_popup_mode_toggle.left_toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.video_popup_mode_toggle.active {
  color: #FFF;
  background-color: var(--btngray);
}

#video_popup_content>.full_width {
  width: 95%;
  margin: auto;
}

#video_popup_content>.divider {
  margin: 10px 0;
  margin-top: 20px;
}

.video_inner_content.first {
  padding-top: 20px;
  height: 54px;
  padding-bottom: 30px;
}

.video_inner_content>b {
  float: left;
  margin-right: 5px;
}

.video_inner_content>img {
  float: left;
}

.video_inner_content>button {
  float: left;
}

.video_inner_content.tooltip>span[role=tooltip] {
  padding: 2px 5px;
  width: 115px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

#upload_video {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  padding-left: 30px;
  border: 1px solid #CCCCCC;
  background-image: url(/signed/src/icns/filter/video.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px 16px;
  text-align: left;
  padding-left: 50px;
  padding-right: 70px;
  font-weight: 600;
}

#upload_video.empty {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
  background-image: none;
  text-align: center;
}

#upload_video>#delete_video {
  position: absolute;
  right: 50px;
}

#upload_video>.upload_img {
  margin-right: 3px;
  height: 15px;
  float: left;
  position: absolute;
  left: calc(50% - 75px);
}

#upload_video>.progressbar {
  width: 80%;
  margin-left: 10%;
}

#video_thumbnail {
  width: calc(100% - 2px);
  height: 243px;
  border: 1px dashed #CCC;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  margin-bottom: 50px;
}

#video_thumbnail.empty {
  background-image: url(/signed/src/icns/video_thumbnail_upload.png);
  background-size: 100px !important;
}

#video_thumbnail.empty:hover {
  opacity: 0.9;
  cursor: pointer;
}

/*Youtube*/
#video_popup_youtube_wrapper {}

#video_popup_youtube_wrapper>.full_width {
  width: 60%;
  margin-left: 20%;
  height: 18px;
}

#video_popup_youtube_wrapper {
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 20px;
}

#video_popup_youtube_wrapper>.full_width {
  margin-bottom: 20px;
}

#video_popup_youtube_wrapper>.full_width>.absolute {
  font-weight: 600;
}

#video_popup_youtube_wrapper>.full_width>.absolute>img {
  float: left;
  margin-right: 10px;
}

#video_popup_youtube_wrapper>.full_width:last-of-type {
  margin-bottom: 150px;
}

#youtube_coming_soon {
  border: 1px solid #CCC;
  border-radius: 2px;
  color: #CCC;
  text-align: center;
}

/*Video Progressbar*/
/*Croppie*/
#video_thumbnail>.cr-slider-wrap {
  width: 100% !important;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 100px;
  border: none !important;
}

#video_thumbnail>.cr-slider-wrap>.cr-slider {
  border: none !important;
  float: left;
  width: 50%;
}

#video_thumbnail>.cr-slider-wrap>img {
  float: left;
  margin-top: 10px;
}

#video_thumbnail>.cr-slider-wrap>.left {
  margin-top: 17px;
}

#video_thumbnail>.cr-slider-wrap>div {
  float: right;
  width: auto;
}

#video_thumbnail>.cr-slider-wrap>div>button {
  width: 78px;
  margin-top: 5px;
}

/*Video Error-Messages*/
#video_too_big_message {
  height: 10px;
}

#video_too_big_message {
  margin-left: 85px;
}

#video_error_message_wrapper {
  margin-bottom: 70px;
  text-align: center;
}

#video_popup_content {
  overflow: hidden;
}

/*Video Menü*/
.video_menue {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.video_menue>.action_wrapper {
  overflow: hidden;
  background-color: rgba(64, 64, 64, 1);
  float: right;
  cursor: pointer;
}

.video_menue>.action_wrapper>span {
  margin: 0px 3px;
  margin-top: 2px;
  overflow: hidden;
}

.video_menue>div>span {
  cursor: pointer;
}

.video_menue>div>span>img {
  float: left;
  padding: 5px 5px;
  padding-top: 0;
}

.video_menue>div>.element_dropdown {
  float: left;
}

.video_menue>div>.element_dropdown>img {
  margin-top: 4px;
}

.video_menue>.dropdown {
  background-color: #FFF;
  margin-top: 16px;
  border-radius: 2px;
  display: none;
}

.video_menue>.dropdown>.video_dropdown_line {
  padding: 4px 10px;
  cursor: pointer;
}

.video_menue>.dropdown>.video_dropdown_line[data-action=delete] {
  background-color: #CECECE;
}

.video_menue>.dropdown>.video_dropdown_line:hover {
  background-color: #CCCCCC;
}

/*Video Formate*/
#video_popup[data-format="full_l"] * #video_thumbnail {
  height: 237px;
}

#video_popup[data-format="full_m"] * #video_thumbnail {
  height: 176px;
}

#video_popup[data-format="full_s"] * #video_thumbnail {
  height: 145px;
}

#video_popup[data-format="twothird_l"] * #video_thumbnail {
  height: 364px;
}

#video_popup[data-format="twothird_m"] * #video_thumbnail {
  height: 270px;
}

#video_popup[data-format="twothird_s"] * #video_thumbnail {
  height: 223px;
}
