body {
  background-color: #fafafa;
  height: 100%;
  margin: 0;
}

.login_top_line {
  height: 25px;
  background-color: #454545;
  color: #ffffff;
  padding-top: 15px;
  overflow: hidden;
  opacity: 0;
}

.nav_logo_wrapper {
  float: left;
}

.nav_logo {
  height: 15px;
  margin-top: -5px;
  margin-left: 20px;
}

.login_wrapper {
  float: right;
  margin-top: -3px;
}

.nav_link_wrapper {
  padding-top: 20px;
}

.nav_link {
  text-decoration: none;
  color: #cccccc;
  margin-left: 20px;
  margin-right: 30px;
}

.master_wrapper {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 100px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  height: 170px;
  padding-top: 50px;
}

#loginbtn > button {
  background-color: #009cd6;
  margin-top: 20px;
}
