:root {
	--box_shadow: 0 0 3px 6px rgba(0, 0, 0, 0.16);
	--box_shadow_red: 0 0 3px 6px rgba(255, 0, 0, 0.16);
}

body {
	overflow: hidden;
	background-color: #fff;
}

body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

button:focus {
	outline: 0 !important;
	-moz-user-focus: 0;
}

iframe {
	z-index: 5;
}

.right_menue {
	position: fixed;
	/* width: calc((100vw - (75vh * 1.7)) / 2); */
	width: 12%;
	text-align: center;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	background-color: #222222;
	color: var(--customwhite);
	z-index: 11;
	transition: box-shadow 0.3s, left 1s;
}

.right_menue.blue_hover {
	transition: box-shadow 0.3s, left 1s;
	box-shadow: 2px 0px 0px 0px var(--blue);
}

#left_menue {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	/* width: calc((100vw - (75vh * 1.7)) / 2); */
	width: 0;
	scrollbar-width: none;
	z-index: 12;
	background-color: #222222;
}

#left_menue::-webkit-scrollbar {
	display: none;
}

.builder_cover {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #222222;
}

.builder_viewport {
	position: relative;
	/* width: calc((75vh * 1.7)); */
	width: 88%;
	/* max-width: 80vw; */
	height: 100%;
	float: right;
	z-index: 10;
	background-color: #222222;
	margin: 0;
}

/*.builder_viewport:before{
  content: "";
  display: block;
  padding-top: 56.25%;
}*/
.builder_viewport.mobile {
	height: 100%;
}

.builder_content {
	background-color: #222222;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.builder_content::-webkit-scrollbar {
	display: none;
}

.builder_viewport.element_mode {
	width: 65% !important;
	-webkit-transition: width 2s;
	transition: width 2s;
}

#left_menue.element_mode {
	-webkit-transition: width 2s;
	transition: width 2s;
	width: 35%;
	left: 0 !important;
}

/*Menü Rechts*/
.builder_menue_top {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	padding: 22px 0px;
}

.builder_menue_bottom {
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	padding: 0% 0;
}

.builder_menue_middle {
	position: fixed;
	right: 32.5vw;
	transform: translateX(50%);
	bottom: 40px;
	display: none;
	background-color: rgba(34, 34, 34, 0.7);
	border-radius: 5px;
	padding: 15px 20px;
}

.builder_menue_middle > button {
	float: left;
	margin: 0px 10px;
}

.builder_menue_middle > .menue_desc {
	display: hidden;
	text-align: center;
	font-weight: 600;
}

.menue_inner {
	margin: auto;
	width: 80%;
}

#right_menue_logo {
	width: 114px;
	display: block;
	margin: 17 auto;
	margin-bottom: 20px;
}

.menue_button {
	display: block;
	width: 117px;
	height: 24px;
	border: none;
	text-align: center;
	margin: 15px auto;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 5px;
	color: var(--customwhite);
	opacity: 0.8;
	font-size: 12px;
}

#presskit_options {
	background-color: transparent;
	border: 1px solid #777777;
}

#presskit_options:hover {
	opacity: 1;
	background-color: #939393;
}

#publish {
	background-color: #00c9cc;
}

#publish:hover {
	opacity: 1;
}

#show_preview {
	background-image: url(/signed/src/icns/eye.svg);
	background-position-y: center;
	background-position-x: 16px;
	background-repeat: no-repeat;
	background-size: 15px 11px;
	padding-left: 14px;
	background-color: transparent;
	border: 1px solid #777777;
}

#show_preview:hover {
	background-color: #9d9d9d;
	opacity: 1;
}

#leave_builder {
	background-color: rgba(98, 98, 98, 0.3);
}

#leave_builder:hover {
	background-color: rgba(255, 0, 0, 0.8);
}

#fullscreen {
	border-radius: 100%;
	border: 2px solid #fff;
	width: 24px;
	height: 24px;
	background: #fff;
	position: fixed;
	top: 120px;
	left: calc(12vw - 12px);
	z-index: 99;
	padding: 0;
	transition: background 0.3s, border-color 0.3s, left 1s;
	/*! display: none; */
}

#fullscreen:hover {
	opacity: 1;
	border-color: var(--blue);
	background: var(--blue);
}

#fullscreen.disabled {
	display: none;
}

#fullscreen > img {
	float: left;
	width: 6px;
	padding: 0;
	margin-left: 6px;
}

#fullscreen[data-screen='fullscreen'] {
	left: -10px;
	transform: rotate(180deg);
}

/*Mobile-Switch*/
.mobile_switch_inner {
	width: 118px;
	margin: auto;
	overflow: hidden;
}

.mobile_switch_inner > .switch_button:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}

.mobile_switch_inner > .switch_button:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
}

.switch_button {
	width: 59px;
	height: 24px;
	background-color: var(--darkergray);
	border: none;
	opacity: 0.2;
}

.switch_button.active {
	opacity: 1;
}

/*Builder Ansichten*/
#desktop {
	background-color: var(--darkestgray);
}

/*Linkes Element Menü*/
#left_menue_content {
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	color: #fff;
	scrollbar-width: none;
	overflow: hidden;
}

#left_menue_content::-webkit-scrollbar {
	display: none;
}

/*Hinzufügen Plus*/
.add_profile_element_wrapper {
	display: none;
	padding-top: 0px;
	margin-top: -2px;
	height: 2px;
	background-color: var(--blue);
	z-index: 10;
	position: relative;
	/* transition: height 1s, background-color 1s; */
}

/*.add_profile_element_wrapper:hover{
  height: 50px;
  background-color: var(--darkgray);
}

.add_profile_element_wrapper:hover>.add_profile_element_plus{
  top: 7px;
}*/
.add_profile_element_plus {
	position: absolute;
	top: -16px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	bottom: -13;
	z-index: 100;
	text-align: center;
	height: 22px;
	width: 22px;
	border-radius: 22px;
	background-color: #fff;
	border: 2px solid var(--blue);
	cursor: pointer;
	margin-top: 4px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.16);
	/* transition: top 1s; */
}

.add_profile_element_plus > img {
	width: 10px;
	height: 10px;
	margin-top: 6px;
}

/*Blauer Rahmen Elemente Hover Mülltonne*/
.edit_border {
	position: absolute;
	background-color: var(--blue);
	z-index: 10;
	display: none;
}

.edit_border.left,
.edit_border.right {
	width: 2px;
	top: 0;
	bottom: 0;
}

.edit_border.bottom,
.edit_border.top {
	height: 2px;
	left: 0;
	right: 0;
}

.edit_border.bottom {
	bottom: 0;
}

.edit_border.top {
	top: 0;
}

.edit_border.right {
	right: 0;
}

.edit_border.left {
	left: 0;
}

/*Tutorial Overlay*/
.tutorial_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	cursor: pointer;
	display: none;
}

.tutorial_overlay > img {
	width: 100%;
	height: 100%;
}

#photo_cropper_trigger {
	width: 0;
	height: 0;
	padding: 0;
	visibility: hidden;
}

/*Sprachauswahl & Presskitname*/
.presskit_lang_name {
	width: 117px;
	height: 10px;
	margin: 0 calc((100% - 117px) / 2);
	clear: both;
	position: relative;
}

.presskit_name {
	width: calc(100% - 3px);
	padding-left: 3px;
	float: left;
	margin-bottom: 10px;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}

.lang_wrapper {
	float: right;
	width: 30%;
}

.language_trigger {
	cursor: pointer;
	height: auto;
	overflow: hidden;
}

.language_trigger > .language {
	font-weight: 400;
	text-align: center;
	float: left;
	height: 120%;
	margin-left: 10%;
}

.lang_wrapper > .language_trigger > img {
	position: relative;
	width: 30%;
	margin-top: 10%;
	margin-left: 9%;
	margin-right: 0%;
	float: right;
	height: 50%;
}

.lang_wrapper > .language_dropdown {
	position: absolute;
	right: 2px;
	bottom: 15px;
	background-color: #fff;
	color: #000;
	font-weight: 600;
	display: none;
	border-radius: 2px;
	z-index: 100;
}

.lang_wrapper > .language_dropdown > .language_dropdown_line {
	padding: 3px 6px;
	text-align: center;
	cursor: pointer;
}
