.builder_popup.popup_body {
  position: absolute;
  top: 50% !important;
  margin-top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-53%) !important;
}

/*embeddeds / Popups*/
.full_width {
  width: 100%;
  clear: both;
  margin: 0;
  overflow: hidden;
}

.half {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.embedded_header {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 15px;
}

.embedded_header > img {
  margin-top: -3px;
  margin-right: 5px;
}

.embedded_content {
  font-size: 10px;
  line-height: 20px;
}

.embedded_input input {
  margin-top: 30px;
  width: 90%;
}

.error_message {
  margin-left: 11px;
  margin-top: 5px;
}

/*Progressbar Audio und Video*/
#upload_video,
#upload_audio {
  min-width: 150px;
}

.progressbar {
  width: 150px;
  height: 3px;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.progressbar > .done {
  background-color: greenyellow;
  height: 100%;
}

/*Dropdown*/
.manual_dropdown {
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  display: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.dropdown_desc {
  width: 130px;
  background-image: url(/signed/src/icns/dropdown.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right 2px;
  cursor: pointer;
}

.dropdown_desc.inactive {
  opacity: 0.5;
}

.dropdown_desc > img {
  margin-right: 5px;
  float: left;
  margin-top: -2px;
}

.dropdown_spacer {
  height: 5px;
}

.dropdown_point {
  font-size: 10px;
  height: 15px;
  margin-top: 5px;
  margin-left: 5px;
}

/*Element löschen*/
#delete_element_popup {
  background: transparent;
  bottom: unset;
  left: unset;
}

#delete_element_popup_inner {
  position: absolute;
  top: auto;
  right: 55px;
  transform: translateY(-25%);
  margin: 0 !important;
  padding: 5px 0px;
  width: 250px;
  height: 80px;
  text-align: center;
  position: relative;
  background-color: rgba(92, 92, 92, 0.9) !important;
  color: #ebebeb;
}

#delete_element_popup_inner > .popup_title {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

#delete_element_popup_inner > .popup_title > .popup_title_content {
  text-align: center;
  width: 100%;
}

#delete_element_popup_inner > .popup_title > .popup_close_btn {
  margin-right: 0;
}

#delete_element_popup_inner > .text_wrapper {
  text-align: center;
  margin-top: 25px;
}

#delete_element_popup_inner > .button_wrapper {
  float: right;
  margin-top: 15px;
  bottom: 5px;
  right: 50%;
  width: 200px;
  transform: translateX(50%);
  position: absolute;
}

#delete_element_popup_inner > .button_wrapper > button {
  width: 90px;
}
