#left_menue_content {
	padding: 20px 40px 0px 40px;
	width: calc(100% - 80px);
	position: relative;
}

.filter_wrapper {
	overflow: hidden;
	padding: 10px 7px;
	padding-bottom: 30px;
}

.filter_toggle_wrapper {
	float: left;
}

.filter_toggle_wrapper > .switch_button {
	color: #fff;
	float: left;
	background-color: var(--btngray);
	opacity: 0.4;
	width: 30px;
}

.filter_toggle_wrapper > .switch_button:hover {
	opacity: 1;
}

.filter_toggle_wrapper > .switch_button:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.filter_toggle_wrapper > .switch_button:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.filter_toggle_wrapper > .switch_button.active {
	color: var(--fontblack);
	background-color: var(--toggleactive);
	opacity: 1;
}

.filter_options_wrapper {
	float: right;
}

.filter_options_button_wrapper {
	float: right;
	margin: 10px 20px;
	margin-bottom: 20px;
}

.filter_menue_button {
	border-radius: 5px;
	border: none;
	font-size: 12px;
	text-align: center;
	width: 88px;
	height: 24px;
	color: #fff;
	cursor: pointer;
}

#delete_filters {
	float: left;
	margin-right: 4px;
	margin-right: 5px;
	color: var(--fontblack);
	width: 100px;
	opacity: 0.7;
	background: transparent;
}

#apply_filters {
	background-color: var(--blue);
	cursor: pointer;
}

#delete_filters.active {
	opacity: 1;
	cursor: pointer;
}

#delete_filters:hover {
	opacity: 0.7;
}

#toggle_filter_options {
	width: auto;
	font-size: 12px;
	float: right;
	padding: 6px 10px 6px 10px;
	border-radius: 5px;
	border: 1px solid #777777;
	color: var(--customwhite);
	background: transparent;
	transition: border-color 0.2s;
}

#toggle_filter_options:hover {
	border-color: #fff;
}

#toggle_filter_options.active {
	background-color: #ffffff;
	color: var(--darkgray);
	opacity: 1;
}

#toggle_filter_options > #element_filter_count {
	float: right;
	margin-right: 3px;
}

#toggle_filter_options > #element_filter_count > img {
	float: right;
	height: 5px;
	margin-top: 5px;
	margin-right: 3px;
	transition-duration: 1s;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

#toggle_filter_options > span > .turned {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.options_wrapper {
	position: absolute;
	height: auto;
	width: 352px;
	background: white;
	font-size: 12px;
	right: 47px;
	top: 65px;
	display: none;
	z-index: 10;
	border-radius: 5px;
	color: var(--fontblack);
}

.options_header {
	margin: 20px 27px;
	margin-right: 20px;
	font-size: 14px;
}

#close_filter {
	float: right;
	border: none;
	background: none;
	padding: 2px;
	cursor: pointer;
}

#close_filter > img {
	float: right;
}

.filter_line > input {
	display: none;
}

.filter_line {
	width: 50%;
	height: 30px;
	float: left;
	margin-bottom: 10px;
}

.filter_button {
	float: left;
	width: 125px;
	height: 24px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: transparent;
	box-shadow: none;
	margin-left: 50%;
	transform: translateX(-50%);
	transition: color 0.5s, background-color 0.5s, border 0.5s, border-color 0.2s;
}

.filter_button:hover {
	border-color: #999;
}

.filter_button.selectedFilter {
	color: #fff;
	border: none;
	background-color: var(--blue);
}

/*Elemente*/
.element_listing_filter {
	overflow: hidden;
	max-height: calc(100vh - 45px);
	overflow-y: scroll;
	width: 100%;
	scrollbar-width: none;
}

.element_listing_filter::-webkit-scrollbar {
	display: none;
}

/*Filter-info Nachricht*/
.filter_info {
	height: 100px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
