.element_mode * > .dj_carousel {
  height: calc((65vw - ((100vw + 10vh) / 2)));
}

.carousel_footer_wrapper.blur:hover:not(.disabled) > .dj_carousel,
.carousel_footer_wrapper.blur.hover:not(.disabled) > .dj_carousel {
  filter: blur(2px);
}

.dj_carousel {
  background-color: var(--darkestgray);
  color: #fff;
  overflow: hidden;
  height: calc((75vh * 0.42) - 0.5%);
  padding: 1% 2% 5% 4%;
}

.dj_carousel > .carousel_header {
  margin-bottom: 5%;
  margin-top: 1%;
  font-weight: 600;
  margin-left: 0.5%;
}

.dj_carousel_listing {
  width: 100%;
  background-color: #3a3a3a;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.dj_carousel_listing.empty:before {
  padding-bottom: calc(56.25% / 6);
  content: "";
  display: block;
}

.dj_carousel_listing.empty {
  opacity: 0.8;
  float: left;
}

.dj_carousel_listing.empty > .message,
.dj_carousel_listing > .dj_carousel_hover > .message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  transform: translateY(-50%) translateX(-50%);
}

.dj_carousel_listing.empty > .message {
  display: none;
}

.dj_carousel_listing > .dj_carousel_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(58, 58, 58, 0.8);
  display: none;
}

.dj_carousel_listing:not(.disabled):hover > .dj_carousel_hover,
.dj_carousel_listing:not(.disabled):hover > .message {
  display: inline;
}

.carousel_artist {
  /* width: calc((96.8% / 6)) !important; */
  width: calc((100% / 6)) !important;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* margin-right: 0.4% !important; */
}

.carousel_artist:last-of-type {
  margin-right: 0 !important;
}

.carousel_artist:before {
  padding-bottom: 56.25%;
  content: "";
  display: block;
}

.carousel_artist.empty {
  /* width: calc((96.8% / 6)) !important; */
  width: calc((100% / 6)) !important;
  background-color: #3a3a3a;
  opacity: 0.5;
  /* margin: -1px; */
  /* border: 2px dashed #FFFFFF; */
  background-image: none;
}

.carousel_artist:hover:not(.disabled) {
  cursor: pointer;
}

.carousel_artist.empty:hover:not(.disabled) {
  background-image: url(/signed/src/icns/choose_top_six.svg);
  background-size: 40%;
  opacity: 1;
}

#carousel_popup_inner {
  width: 1100px;
  height: auto;
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  max-height: 80vh;
}

#carousel_popup_content {
  padding: 1% 5%;
  overflow: hidden;
}

#carousel_popup_content > .top_wrapper {
  overflow: hidden;
  margin-bottom: 40px;
}

.dj_wrapper {
  width: calc(14% - 4px);
  margin-right: 3.1%;
  float: left;
  text-align: center;
  padding: 1px;
  overflow: hidden;
  border: 1px solid transparent;
}

.dj_wrapper.disabled {
  opacity: 0.4;
}

.listing_row > .dj_wrapper {
  margin-bottom: 20px;
}

.top_wrapper > .dj_wrapper:last-of-type {
  margin-right: 0;
}

.listing_row > .dj_wrapper:last-of-type {
  margin-right: 0;
}

.dj_pic {
  border-radius: 2px;
  height: 80px;
  width: calc(100% - 4px);
  background-color: #e6e6e6;
}

.dj_wrapper > .dj_pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1px;
}

.dj_wrapper > .dj_pic.disabled {
  cursor: not-allowed;
}

.dj_wrapper.empty > .dj_pic {
  background-image: url(/signed/src/icns/plus_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  border: 1px solid #ccc;
}

.top_wrapper > .dj_wrapper > .dj_desc {
  margin-top: 20px;
}

.listing_row > .dj_wrapper > .dj_desc {
  margin-top: 10px;
}

.carousel_listing_wrapper {
  height: 255px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.artist_search_listing {
  overflow: hidden;
}

.carousel_listing_wrapper
  > .artist_search_listing
  > .listing_row
  > .dj_wrapper:hover {
  cursor: grab;
}

.carousel_search_wrapper {
  margin: 10px 0 15px 0;
}

.invite_wrapper {
  clear: both;
  text-align: center;
}

input[name="carousel_search"] {
  border: none;
  border-bottom: 1px solid #cccccc;
  background-image: url(/signed/src/icns/search.svg);
  background-position-x: calc(100% - 5px);
  background-position-y: center;
  background-repeat: no-repeat;
  margin-left: 22px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[name="carousel_search"]::placeholder {
  color: #404040;
}

.dj_pic.draggable.ui-draggable-dragging {
  width: 130px;
  height: 75px;
}

/*Einladungspopup*/
#invite_popup_inner {
  width: 600px;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

#invite_popup_content {
  text-align: center;
  margin-top: 40px;
}

#invite_popup_content > .font_weight_heavy {
  font-size: 14px;
  margin-bottom: 30px;
}

#copy_invite_link {
  text-decoration: underline;
  margin-bottom: 30px;
  color: var(--blue);
  font-weight: 600;
}

.arrow_wrapper {
  width: 60%;
  overflow: hidden;
  float: left;
  margin: 25px 0 55 50%;
  transform: translateX(-45%);
}

.arrow_wrapper > div {
  float: left;
  margin-top: 7px;
}

.arrow_wrapper > div:last-of-type {
  margin-top: 1px;
}

.arrow_wrapper > img {
  vertical-align: middle;
  margin: 0 20px;
  float: left;
}

.invite_link_wrapper {
  height: 50px;
}

#copy_message {
  margin-top: 15px;
  display: none;
}
