/*Element-Hover*/
/* .profile_element:hover > .profile_element_content {
} */

.blur_desktop_helper {
	position: relative;
}

/*Element-Menü*/
.profile_element_menue_bottom {
	/*! display: none; */
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	z-index: 15;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.profile_element_menue_bottom > button {
	border: 1px solid #b4b7b7;
	cursor: pointer;
	width: 36px;
	height: 29px;
	border-radius: 2px;
	background-color: rgba(26, 26, 26, 0.7);
	margin-bottom: 7px;
}

.profile_element_menue_bottom > button:hover {
	opacity: 1 !important;
}

.profile_element_menue_bottom > button[data-action='delete'] {
	width: 36px;
	height: 40px;
	background-image: url(/signed/src/icns/garbage_white.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 18px;
}

.profile_element_menue_bottom > button[data-action='delete']:hover {
	background-image: url(/signed/src/icns/garbage_red.svg);
}

.profile_element_menue_bottom > button[data-action='up'] {
	background-image: url(/signed/src/icns/arrow_up.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 7px;
}

.profile_element_menue_bottom > button[data-action='up']:hover {
	background-image: url(/signed/src/icns/arrow_up_blue.svg);
}

.profile_element_menue_bottom > button[data-action='down'] {
	background-image: url(/signed/src/icns/arrow_down.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 7px;
}

.profile_element_menue_bottom > button[data-action='down']:hover {
	background-image: url(/signed/src/icns/arrow_down_blue.svg);
}

.blue_profile_element_hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 14;
	box-shadow: inset 0px 0px 0px 2px var(--blue);
	transition: box-shadow 1s;
}

.profile_element_menue_bottom > button:hover {
	opacity: 0.8;
}

.element_menue {
	z-index: 100;
}

.action_wrapper > .reposition_name {
	text-decoration: none;
	margin-right: 10px;
}

.element_menue > .action_wrapper > span {
	float: left;
	cursor: pointer;
	overflow: hidden;
	width: 69px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	color: #ebebeb;
	border: 1px solid #b4b7b7;
	background-color: rgba(26, 26, 26, 0.7);
	border-radius: 2px;
	text-align: center;
	padding-top: 6px;
	font-weight: 600;
	letter-spacing: 0.3;
}

.element_menue > .action_wrapper > span:hover {
	background-color: #212121;
}

.element_menue.header > .action_wrapper > .element_dropdown > img {
	float: right;
	margin-bottom: 20%;
	margin-top: 15%;
	padding: 0;
}

.element_menue.header > .action_wrapper > span > img {
	float: left;
}

.element_menue.header > .action_wrapper > .switch_color > img {
	margin-top: 15%;
	padding: 0;
	margin-left: 5%;
}

/* .hover_blue_inlineshadow.hovered {
	box-shadow: inset 0px 0px 0px 1px var(--blue);
} */

/* .hover_blue_inlineshadow.hovered {
	box-shadow: inset 0px 0px 0px 1px var(--blue);
} */

/* .hover_blue_inlineshadow.textinput_textarea.hovered,
.hover_blue_inlineshadow.headline_input.hovered {
  box-shadow: 0px 0px 0px 1px var(--blue) !important;
} */
.hover_blue_inlineshadow.textinput_textarea:hover,
.hover_blue_inlineshadow.headline_input:hover,
.hover_blue_inlineshadow.social_media_wrapper:hover,
.hover_blue_inlineshadow.name_city_wrapper:hover,
.hover_blue_inlineshadow.genre_listing:hover,
.hover_blue_inlineshadow.request_button:hover,
.hover_blue_inlineshadow.presspack_btn:hover,
.hover_blue_inlineshadow#mobile_name_wrapper:hover {
	box-shadow: 0px 0px 0px 2px var(--blue);
	transition: box-shadow 0.5s;
}

/* .hover_blue_inlineshadow {
} */

/*Komponenten Menü*/
.menue_parent {
	position: relative;
}

.element_menue {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100 !important;
	/* overflow: hidden; */
	color: #000 !important;
}

.element_menue.header > .dropdown {
	width: max-content;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100 !important;
}

.size_M * > .audio_menue_wrapper > .element_menue {
	right: 68% !important;
	display: inline !important;
}

.size_S * > .audio_menue_wrapper > .element_menue {
	right: 69% !important;
	display: inline !important;
}

.element_menue > .action_wrapper {
	width: auto;
	float: right;
}

.element_menue > div > span {
	cursor: pointer;
}

.element_menue > div > span > img {
	float: left;
	padding: calc(5 * var(--pixelunit));
}

.element_menue > .dropdown {
	background-color: #fff;
	margin-top: 45px;
	margin-right: 10px;
	border-radius: 2px;
	box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.16);
	display: none;
	text-align: center;
}

.element_menue > .dropdown > .dropdown_line {
	padding: 10px 20px;
	cursor: pointer;
}

.element_menue > .dropdown > .dropdown_line:hover {
	background-color: var(--customwhite);
}

.element_menue > .dropdown > .dropdown_line[data-action='delete'] {
	background-color: #cecece;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.headline_editor_toolbar > img,
.text_editor_toolbar > img {
	float: left;
	width: 32px;
	margin: 0 5px;
}

.ql-container {
	position: absolute !important;
}

.ql-container > .ql-editor {
	color: inherit !important;
	/* padding: 1px; */
}

.ql-editor > p {
	font-size: calc(12 * var(--pixelunit));
	line-height: calc(23 * var(--pixelunit));
}

.text_editor_toolbar,
.headline_editor_toolbar {
	border: none !important;
}

.ql-editor.ql-blank::before {
	color: #fff !important;
	font-style: inherit !important;
	margin: 0 !important;
	padding: 0 !important;
}

.text_editor_toolbar > .ql-list,
.text_editor_toolbar > button,
.text_editor_toolbar > .ql-align,
.ql-custom,
.headline_editor_toolbar > .ql-list,
.headline_editor_toolbar > button,
.headline_editor_toolbar > .ql-align {
	border: 1px solid #fff !important;
	border-radius: 2px;
	margin: 0 5px;
}

.ql-custom > .ql-picker-options {
	height: 100px;
	overflow: scroll;
	scrollbar-width: none;
}

.ql-custom > .ql-picker-options::-webkit-scrollbar {
	display: none;
}

.ql-custom {
	content: '';
	background-image: url('/signed/src/icns/text_spacing.svg');
	width: 40px;
	background-repeat: no-repeat;
	background-size: 15px;
	background-position-x: 5px;
	background-position-y: center;
}

.ql-custom > span > svg > polygon {
	stroke: #fff !important;
}

.ql-custom > .ql-picker-options > .ql-picker-item {
	height: 20px;
}

.ql-custom .ql-picker-item:before {
	content: attr(data-label);
}

.ql-editor {
	/* padding-left: 1px; */
	box-shadow: inset 0 0 0 1px var(--blue);
	border: none !important;
	/* width: calc(100% - 2px); */
	width: 100%;
	float: left;
}

.headline_input > .ql-editor > p {
	float: left !important;
	min-width: 90%;
	/* padding-left: 3px; */
	width: auto;
}

.headline_input > .placeholder {
	font-weight: 600;
}

.ql-active {
	background-color: #fff !important;
}

.ql-active > svg > line {
	stroke: var(--darkgray) !important;
}

.ql-active > svg > .ql-stroke {
	stroke: var(--darkgray) !important;
}

.textinput_textarea > .placeholder {
	text-align: justify;
}

.ql-editor::selection {
	background: #ffb7b7;
	/* WebKit/Blink Browsers */
}

.ql-editor::-moz-selection {
	background: #ffb7b7;
	/* Gecko Browsers */
}

/*Social Media hover*/
.social_media_trigger {
	padding: 5px;
	padding-right: 0;
	overflow: hidden;
	border-radius: 2px;
}

/* .social_media_trigger:hover {
	box-shadow: inset 0px 0px 0px 2px var(--blue);
} */

/*Namensplatzierung*/
.name_city_wrapper:not(.active_placement) {
	cursor: pointer;
	/* padding: 2px; */
	border-radius: calc(5 * var(--pixelunit));
	transition: box-shadow 0.1s;
}

.name_city_wrapper.active_placement {
	bottom: unset;
	z-index: 100 !important;
}

.name_city_wrapper.active_placement:hover {
	cursor: move !important;
}

/*edit Mode*/
input:disabled {
	background-color: unset !important;
}

button.disabled:hover {
	opacity: 1 !important;
	cursor: default !important;
}

.blue_border_btn.disabled:hover {
	border-color: #fff !important;
}

.disabled:hover {
	cursor: default !important;
}

a.disabled:hover {
	cursor: default !important;
}

/*Drag infos "Ziehen um zu positionieren"*/
.drag_positition_note {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 10000;
	background-color: var(--darkestgray);
	border-radius: 5px;
	opacity: 0.95;
	font-weight: 600;
	font-size: 12px !important;
	width: 221px;
	height: 26px;
	padding-top: 4px;
	text-align: center;
	color: var(--customwhite);
}

/* Regel für Namensplatzierung */
.drag_positition_note.name_placement_drag_note {
	width: 250px;
	height: 26px;
	font-size: 15px !important;
	padding-top: 4px;
	display: none;
}

.profile_element[data-id='6M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='6L'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='15S'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='15M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='15L'] * > .full_size_background * > .drag_positition_note {
	left: 25%;
	transform: translateX(-25%);
}

.profile_element[data-id='7M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='7L'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='14S'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='14M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='14L'] * > .full_size_background * > .drag_positition_note {
	left: 75%;
	transform: translateX(-25%);
}

.profile_element[data-id='9S'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='9M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='9L'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='10S'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='10M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='10L'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='12L'] * > .full_size_background * > .drag_positition_note {
	top: 4.5%;
	transform: translateX(-25%);
}

.profile_element[data-id='11S'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='11M'] * > .full_size_background * > .drag_positition_note,
.profile_element[data-id='11L'] * > .full_size_background * > .drag_positition_note {
	bottom: 8%;
	transform: translateX(-25%);
	top: unset !important;
}

/*Blink Effekt*/
.profile_element.previewed {
	position: relative;
}

.preview_blue_blink {
	animation: blinker 1s linear;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

@keyframes blinker {
	0% {
		box-shadow: none;
	}

	20% {
		box-shadow: inset 0px 0px 0px 1px var(--blue);
	}

	50% {
		box-shadow: inset 0px 0px 0px 3px var(--blue);
	}

	80% {
		box-shadow: inset 0px 0px 0px 1px var(--blue);
	}

	100% {
		box-shadow: none;
	}
}
