#mobile {
	display: none;
	background-color: var(--mobilegray);
}

.mobile_container {
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: 10;
	background-color: var(--darkgray);
}

.mobile_inner_wrapper {
	width: 20%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 0;
	margin: 0;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
	border-radius: 10%;
	background: rgb(28, 28, 28);
}

.mobile_inner_wrapper.turned {
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.mobile_inner_wrapper > img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	float: left;
}

.mobile_inner {
	margin: 0 1%;
	position: relative;
	width: 98%;
	background-color: #1c1c1c;
	overflow-y: scroll;
	scrollbar-width: none;
}

.mobile_inner_wrapper::-webkit-scrollbar {
	display: none;
}

.mobile_inner:before {
	display: block;
	content: '';
	padding-bottom: 177%;
	width: 100%;
}

.mobile_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-image: url(/signed/src/icns/flip_phone.svg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;
	scrollbar-width: none;
}

.mobile_content::-webkit-scrollbar {
	display: none;
}

.mobile_header_element {
	position: relative;
	width: 100%;
	background-color: var(--gray);
}

.mobile_header_element:before {
	display: block;
	content: '';
	padding-bottom: 177%;
	width: 100%;
}

.mobile_element_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#mobile_photo_edit_icn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10%;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
}

/*#mobile_edit_menue {
	position: fixed;
	bottom: 4%;
	left: 30%;
	right: 30%;
	height: 10%;
	background-color: rgba(34, 34, 34, 0.9);
	border: 1px solid var(--btngray);
	border-radius: 5px;
	z-index: 100;
	display: none;
	min-width: 650px;
}*/

/*#mobile_edit_menue:before {
	display: block;
	content: '';
	padding-bottom: 12%;
}*/

.mobile_edit_inner {
	width: 60%;
	padding-top: 7%;
	margin-left: 5%;
	float: left;
}

.mobile_edit_inner > img {
	width: 15px;
	margin-top: 10px;
	float: left;
}

.mobile_edit_inner > .minus {
	margin-top: 17px;
}

#mobile_cropper_slider {
	float: left;
	width: 90%;
	min-height: 20px;
	height: auto;
}

#mobile_cropper_slider > .cr-slider-wrap > .cr-slider {
	border: none;
	width: 100%;
}

#mobile_edit_menue > .full_absolute > .buttons {
	width: 30%;
	float: right;
	padding-top: 6.5%;
}

.mobile_element_menue {
	position: absolute;
	top: 0;
	right: 0;
	width: 170px;
	z-index: 1000;
}

.mobile_element_menue > .action_wrapper {
	float: right;
	width: auto;
}

.mobile_element_menue > .action_wrapper > span {
	float: left;
	cursor: pointer;
	overflow: hidden;
	width: 69px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	color: #ebebeb;
	border: 1px solid #ebebeb;
	background-color: #1a1a1a;
	border-radius: 2px;
	text-align: center;
	padding-top: 6px;
	font-weight: 600;
	letter-spacing: 0.3;
}

.mobile_element_menue > .action_wrapper > span:hover {
	background-color: #212121;
}

.mobile_element_menue > .dropdown {
	position: absolute;
	top: 120%;
	background-color: #fff;
	right: 5%;
	width: 70%;
	border-radius: 2px;
	box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.16);
	text-align: center;
}

.mobile_element_menue > .dropdown > .dropdown_line {
	padding: 6% 7%;
	border-radius: 0;
	cursor: pointer;
}

.mobile_element_menue > .dropdown > .dropdown_line[data-action='delete'] {
	background-color: #cecece;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.mobile_element_menue > .dropdown > .dropdown_line:hover {
	background-color: var(--customwhite);
}

.mobile_switch {
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}

.mobile_switch > button {
	background: none;
	border: none;
	padding: 10%;
	border-radius: 5px;
}

/* Footer - Presspack & Anfragen */
.mobile_footer {
	padding: 4% 12%;
	width: 76%;
	background: #fff;
	float: left;
}

.mobile_footer > button {
	width: 48%;
	padding: 0;
	margin: 0;
	float: left;
}

.mobile_footer > button:last-of-type {
	float: right;
}

.mobile_footer > button > img {
	width: 100%;
}

/* "Flip that sh*t" */
.mobile_flip {
	width: 100%;
	position: relative;
}

.mobile_flip:before {
	display: block;
	content: '';
	width: 100%;
	padding-bottom: 194%;
	background-size: 30%;
}

/* Landscape */
#mobile_landscape {
	display: none;
	transform: rotate(-90deg);
	left: -39.5%;
	top: 22%;
	height: 56%;
	width: 178%;
	right: unset;
	bottom: unset;
	overflow-y: scroll;
	scrollbar-width: none;
}

#mobile_landscape::-webkit-scrollbar {
	display: none;
}

#mobile_landscape {
	--pixelunit: calc((88vw / 1366) * 0.4);
}

#mobile_landscape * > .footer_wrapper {
	height: calc(450 * var(--pixelunit));
}

#mobile_landscape * > .footer_link > img {
	height: calc(10 * var(--pixelunit));
}

#mobile_portrait * > .drag_positition_note {
	height: 19px;
	padding-top: 5px;
}
