#mobile_name_wrapper {
	z-index: 150;
	font-weight: 600;
	position: absolute;
	top: 90%;
	left: 10%;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	height: auto;
	width: max-content;
	padding: 3px 6px;
	border-radius: calc(var(--pixelunit) * 2);
}

/* #mobile_name_wrapper > .logo {
} */

#mobile_name_wrapper > .logo {
	max-width: 100%;
	max-height: 100%;
}

#mobile_name_wrapper > .logo > img {
	max-width: 100%;
	max-height: 100%;
}

#mobile_name_wrapper.active_drag > div {
	cursor: move;
}

#mobile_name_wrapper > div {
	cursor: inherit;
	max-width: 100%;
}

#mobile_name {
	color: #fff;
}

#mobile_name > div > .inner_edit > button {
	color: #fff;
	background: none;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 3px 5px;
	margin: 0px 10px;
}

#mobile_name > div > div > select {
	margin: 0px 10px;
}

#mobile_name > div > div > span {
	margin-left: 10%;
}

#upload_logo {
	border: none !important;
	text-decoration: underline;
}

#mobile_name.edit_menue {
	width: 100%;
}

#mobile_name > .buttons {
	right: 5%;
	left: unset;
	float: right;
}

#mobile_name > .mobile_edit_inner > .inner_edit {
	width: 70%;
	float: left;
}

#mobile_name > .mobile_edit_inner {
	width: 60%;
	margin-top: 1%;
}

select[name='mobile_name_selector'] {
	width: 30%;
	float: left;
}

select[name='mobile_namesize'] {
	background-image: url(/signed/src/icns/text_size_white.svg);
	background-position: 5px center;
	background-size: 15px;
	padding-left: 20px;
	padding-right: 0px;
	text-align-last: center;
	float: left;
	margin-right: 0 !important;
}

#mobile_name_uppercase {
	height: 21px;
	float: left;
	background-image: url(/signed/src/icns/capitalized_white.svg) !important;
	background-repeat: no-repeat !important;
	background-size: 12px !important;
	background-position: center !important;
	padding: unset 5px;
	width: 25px;
}

#make_mobile_name_shadow {
	height: 21px;
	padding: unset 5px;
	width: 25px;
	float: left;
	font-weight: 600;
}

#make_mobile_name_shadow[data-state='shadow'] {
	background-color: #fff;
	color: var(--darkgray);
}

#mobile_name_color {
	height: 21px;
	padding: unset 5px;
	width: 25px;
	float: left;
}

#mobile_name_uppercase[data-state='uppercase'] {
	background-image: url(/signed/src/icns/capitalized_gray.svg) !important;
	background-color: #fff !important;
}

.inner_edit.logo {
	display: none;
}

.mobile_element_content > .placement_border {
	left: 3.3%;
	bottom: 1.5%;
	position: absolute;
}

.mobile_element_content > .placement_border.active_placement {
	right: 3.3%;
	top: 6%;
	background-image: url(/signed/src/layer/positioning_cross_white.svg);
	background-position: center;
	background-size: cover;
	z-index: 4;
	border: 1px dashed var(--customwhite);
}
