/*Soundcloud*/
#soundcloud_popup_inner {
  width: 600px;
  height: 380px;
}

.full_width.soundcloud_topline {
  padding-top: 3px;
}

.embedded_header.soundcloud_preview {
  margin-top: 20px !important;
}

#soundcloud_embedded_player > iframe {
  height: 100px;
}

#soundcloud_mode_toggle {
  margin-top: 20px;
}

.soundcloud_where {
  float: left;
}

.half.right.soundcloud {
  width: 45%;
}

#show_soundcloud_info {
  margin-left: 10px !important;
  font-size: 10;
  float: left;
}

#soundcloud_info_inner {
  margin-top: 100px;
  height: 610px;
  width: 890px;
}

.embedded_content {
  padding-top: 7px !important;
}

#soundcloud_info_inner > .popup_title > .popup_close_btn {
  margin-right: 20px;
  margin-top: 15px;
}

.soundcloud_infotext {
  font-size: 12px;
}

.soundcloud_info_img {
  margin: 10px auto;
  display: block;
}

.soundcloud_infotext {
  margin-left: 100px;
}

#soundcloud_darkmode {
  display: none;
}

/*Mixcloud*/
#mixcloud_popup_inner {
  width: 600px;
  height: 360px;
}

#mixcloud_embedded_player {
  height: 60px;
  overflow: hidden;
}

#show_mixcloud_info {
  font-size: 10px;
  padding-left: 10px;
}

#mixcloud_embedded_player > iframe {
  height: 60px;
}

.mixcloud_logo {
  margin-bottom: -1px;
}

#mixcloud_mode_toggle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.right.half.mixcloud {
  width: 45%;
}

.right.half.mixcloud > .embedded_content {
  margin-top: -12px;
}

#mixcloud_info_inner {
  height: 500px;
  width: 890px;
}

#mixcloud_info_inner > .popup_title > .popup_close_btn {
  margin-right: 20px;
  margin-top: 15px;
}

#mixcloud_info_inner > .popup_content > .embeded_infotext {
  margin-left: 70px;
}

.mixcloud_info_img {
  margin: 10px auto 40px;
  display: block;
}

#mixcloud_darkmode,
#mixcloud_darkmode_artwork,
#mixcloud_lightmode_artwork {
  display: none;
}

/*Spotify*/
#spotify_popup_inner {
  width: 870px;
  max-height: 520px;
  overflow: hidden;
  padding-bottom: 50px;
}

#spotify_embedded_player {
  overflow: hidden;
  margin-bottom: 20px;
}

#spotify_embedded_player > iframe.track {
  width: 252px;
  height: 320px;
  float: right;
}

#spotify_embedded_player > iframe.album {
  width: 252px;
  height: 320px;
  display: none;
  float: right;
}

#show_soundcloud_info {
  margin-left: 0;
}

#show_spotify_info {
  margin-left: 0px;
}

.spotify_preview {
  margin-left: 30%;
}

#spotify_info_inner {
  height: 600px;
  width: 890px;
  margin-top: 100px;
}

.spotify_info_img {
  margin: 10px auto;
  display: block;
}

.spotify_infotext {
  margin-left: 95px;
}

/*Youtube*/
#youtube_popup_inner {
  width: 600px;
  height: 340px;
}

.checkbox_line.youtube {
  font-size: 10px;
  margin: 10px 0px;
}

.youtube_logo {
  display: block;
  float: left;
  padding-top: -3px;
  padding-right: 3px;
}
