#presskit_options_menue {
	display: none;
	position: absolute;
	bottom: 94px;
	left: calc(100% - 40px);
	background: #ffffff;
	border-radius: 5px;
	width: 150px;
	color: var(--fontgray);
	font-size: 10px;
	text-align: left;
	overflow: hidden;
}

#presskit_options_menue > .options_line {
	width: 100%;
	height: 37px;
	transition: background-color 0.3s;
}

#presskit_options_menue > .options_line:hover {
	cursor: pointer;
	background-color: var(--hovergray);
}

#presskit_options_menue > .options_line > span {
	float: left;
}

#presskit_options_menue > .options_line > .image {
	width: 30px;
	margin-top: 11px;
	margin-left: 20px;
}

#presskit_options_menue > .options_line > .text {
	width: 100px;
	padding-top: 11px;
}