/*Fullscreen Transition*/
.transition * {
	transition: all 1s;
	/* Enable hardware acceleration to fix laggy transitions */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.preview_mode > .right_menue {
	left: -12vw;
}

.preview_mode > #left_menue {
	left: -12vw;
}

.preview_mode * > .builder_viewport {
	width: 100%;
}

#abort_preview {
	font-size: calc(14 * var(--pixelunit));
	position: fixed;
	z-index: 1000;
	top: 30px;
	left: 30px;
	display: none;
	width: auto;
	height: auto;
	padding: calc(12 * var(--pixelunit));
	transition: none;
}

#fullscreen.hidden {
	display: none !important;
}

.preview_mode * > .profile_element.header{
	height: 100vh;
}

.preview_mode * > .profile_element.header:before{
	padding-bottom: 0%; 
}

.preview_mode * > .element_mode * > .profile_element.header{
	height: auto;
}

.preview_mode * > .element_mode * > .profile_element.header:before{
	padding-bottom: 56.25%; 
}