/* Sonderregeln für Kleine Bildschirmauflösungen (1300er und MacBooks!) */
@media only screen and (max-width: 1250px) {
	#right_menue_logo {
		width: 72%;
	}

	.menue_button {
		width: 90%;
		height: 24px;
		font-size: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	#show_preview {
		background-size: 15% 50%;
		padding-left: 12%;
	}

	.mobile_switch_inner {
		width: 90%;
	}

	.switch_button {
		width: 50%;
	}

	.presskit_lang_name {
		width: 90%;
		margin: auto;
	}

	.lang_wrapper > .language_trigger > img {
		display: none;
	}
}

@media only screen and (max-width: 1100px) {
	body {
		--darkelementgray: #898989;
		--lightelementgray: #bfbfbf;
		/* 1px in 1366 im Builderbody in normaler Ansicht */
		--pixelunit: 0.7086px !important;
		/*1px in 1366 im Builderbody im Elementmode*/
		--elementpixelunit: 0.5234px !important;
		/*1px in 1366 im Builderbody in Vorschau*/
		--previewpixelunit: 0.8052px !important;
		--fullpixelunit: 0.8052px !important;
		width: 1100px;
		overflow-x: scroll;
	}

	#fullscreen {
		left: 120px;
	}

	#right_menue {
		width: 132px;
		position: relative;
		height: 100%;
	}

	#left_menue.element_mode {
		-webkit-transition: width 2s;
		transition: width 2s;
		width: 385px;
		left: 0 !important;
		position: absolute;
	}

	.builder_menue_middle {
		right: 357.5px;
	}

	.builder_menue_middle > button {
		width: 117px;
		height: 24px;
	}
}
