/* Start / Welcome */
#tutorial_start_popup {
	display: inline;
}

#tutorial_start_popup_inner {
	width: 414px;
	height: 209px;
}

.tutorial_popup.builder_popup {
	width: 414px;
	height: 209px;
	color: var(--fontgray);
	top: 40% !important;
}

#tutorial_start_popup_inner > .popup_title {
	font-size: 20px;
}

#tutorial_start_popup_inner > .popup_content {
	text-align: center;
	font-size: 14px;
	line-height: 35px;
}

#tutorial_start_popup_inner > .popup_content > button {
	float: right;
	margin-top: 20px;
}

.tutorial_highlight {
	animation: tutorial_pulse 2s infinite;
	/* transition: box-shadow .5s; */
}

.add_profile_element_wrapper.tutorial_highlight {
	animation: tutorial_pulse_border_color 2s infinite;
	/* transition: box-shadow .5s; */
}

.builder_icon.tutorial_highlight {
	opacity: 1;
	/* transition: box-shadow .5s; */
	border-radius: calc(5 * var(--pixelunit));
	padding: calc(10 * var(--pixelunit)) calc(15 * var(--pixelunit));
	padding-right: calc(19 * var(--pixelunit));
	margin-top: calc(-10 * var(--pixelunit));
}

.add_profile_element_wrapper.force_display {
	display: block !important;
}

.profile_element_menue_bottom.force_display {
	display: block !important;
}

.footer_filter.force_hide > .message,
.add_profile_element_wrapper.force_hide {
	display: none !important;
}

.footer_filter.force_display > .message {
	display: inline;
}

.carousel_footer_wrapper.force_display > .dj_carousel {
	filter: blur(2px);
}

.profile_element.tutorial_blur {
	opacity: 0.5;
	filter: blur(2px);
}

@keyframes tutorial_pulse {
	0% {
		box-shadow: 0px 0px 0px 2px var(--blue);
	}

	50% {
		box-shadow: none;
	}

	100% {
		box-shadow: 0px 0px 0px 2px var(--blue);
	}
}

@keyframes tutorial_pulse_opacity {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes tutorial_pulse_border_color {
	0% {
    background-color: var(--blue);
	}

	50% {
    background-color: transparent;
	}

	100% {
    background-color: var(--blue);
	}
}