#menue_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding-top: 19px;
  z-index: 2;
}

.menue_left {
  float: left;
  height: 25px;
  padding-left: 28px;
}

.menue_right {
  float: right;
  height: 25px;
  padding-right: 25px;
}

.menue_left>a>img {
  height: 15px;
}

.menue_right>img {
  height: 10px;
  margin-top: 5px;
}

#mobile_menue_wrapper {
  position: absolute;
  top: 0;
  height: 10%;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 3%;
}

#mobile_menue_wrapper>.menue_left {
  padding-left: 6%;
}

#mobile_menue_wrapper>.menue_right {
  padding-right: 6%;
}

#mobile_menue_wrapper>.menue_left>a>img {
  height: 60%;
  margin-top: 4%;
}

#mobile_menue_wrapper>.menue_right>img {
  height: 50%;
}
