#footer_content{
    width: 65%;
    margin: 75px auto;
    padding: 25px 0;
    display: table;
    border-top: solid 1px #D2D2D2;
}

.footer_side_box{
    display: table;
    float: left;
    width: 23%;
    margin: 0 1%;
    height: auto;
}

.footer_side_box #footer_logo{
    width: 80%;
    height: auto;
    display: block;
}

.footer_side_box .footer_link, .footer_side_box .footer_link:link, .footer_side_box .footer_link:visited{
    display: block;
    color: #969696;
    font-weight: 400;
}

.footer_side_box .footer_link:active, .footer_side_box .footer_link:hover{
    color: #780462;
}

.footer_link_img{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    float: left;
}

.footer_link_img img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    #footer_content{
        width: 75%;
    }
}

@media screen and (max-width: 1100px) {
    #footer_content{
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    #footer_content{
        width: 70%;
        margin: 50px auto;
    }
    
    .footer_side_box{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
    }
    
    .footer_link_box{
        float: left;
        width: 50%;
    }
    
    .footer_side_box #footer_logo{
        width: 40%;
    }

}

@media screen and (max-width: 500px) {
    #footer_content{
        width: 80%;
    }
    
    .footer_side_box #footer_logo{
        width: 50%;
        margin: 0 auto;
    }
    
     .footer_link_box{
        text-align: center;
    }
    
    .footer_social_box div{
        width: 150px;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 300px) {
    
     .footer_link_box{
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
}