.picker {
	display: none;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(26, 26, 26, 1) !important;
}

.picker.visible {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}

.pcr-app {
	background-color: transparent !important;
}

.pcr-button {
	visibility: hidden;
	height: 0;
	width: 0;
}

.pcr-type {
	display: none;
}

.pcr-save {
	visibility: hidden;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.pcr-swatches {
	width: 36%;
	height: 63% !important;
	padding: 0 !important;
	margin: 0 !important;
	float: left !important;
	clear: none !important;
}

.pcr-selection {
	width: 60%;
	height: 100% !important;
	padding: 0;
	margin: 0;
	float: right !important;
	clear: none !important;
}

.pcr-selection > .pcr-color-palette {
	height: 100% !important;
}

.pcr-interaction {
	float: left;
	display: inline;
	width: 36% !important;
}

.pcr-app {
	display: inline !important;
	width: 70% !important;
	height: 80% !important;
	box-shadow: none !important;
}

/*Color-Menü*/
#color.edit_menue > .pcr-app {
	position: absolute !important;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
}

/*Texteditor & Namensplatzierung*/
#texteditor > .picker,
#headlineeditor > .picker,
#placement_menue > .picker {
	position: absolute;
	top: 0;
	left: 0%;
	width: calc(100% - 2px);
	right: 0%;
	bottom: 0;
	height: 100%;
	z-index: 1000;
	background-color: var(--darkestgray);
}

#texteditor > .picker > .pickr,
#headlineeditor > .picker > .pickr,
#placement_menue > .picker > .pickr {
	height: 0;
}

#texteditor > .picker > .pcr-app,
#headlineeditor > .picker > .pcr-app,
#placement_menue > .picker > .pcr-app {
	width: 70% !important;
	height: 90% !important;
	float: left;
	position: absolute !important;
	top: 50% !important;
	left: 3%;
	transform: translateY(-50%);
	padding: 0;
}

#texteditor > .picker > .picker_buttons,
#headlineeditor > .picker > .picker_buttons,
#placement_menue > .picker > .picker_buttons {
	width: 20% !important;
	position: absolute !important;
	top: 50% !important;
	right: 1%;
	transform: translateY(-50%);
}
