/*Cropper*/
#cropper_trigger {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	border: none;
}

#cropper_slider {
	width: 70%;
}

#cropper_slider > .cr-slider-wrap {
	width: 85%;
	margin: auto;
	float: left;
}

#cropper_slider > .cr-slider-wrap > .cr-slider {
	width: 100%;
	border: none;
}

#cropper_slider > .cr-slider-wrap > .cr-slider:focus {
	outline: none;
}

#cropper_slider > img {
	margin-top: 3.2%;
	margin-right: 2%;
	margin-left: 2%;
}

#cropper_slider > .right {
	margin-top: 2.2%;
	float: left;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: #b9b9b9;
	border-radius: 0;
}

input[type='range']::-moz-range-track {
	background: #b9b9b9;
	border-radius: 0;
}

.edit_menue#cropper > .buttons > button {
	margin-right: 10px;
	float: right;
}