.edit_menue_wrapper, #mobile_edit_menue {
	position: fixed;
	left: 56%;
	transform: translateX(-50%);
	width: 40%;
	bottom: 3%;
	height: 10%;
	background-color: rgba(34, 34, 34, 0.9);
	z-index: 10;
	display: none;
	min-width: 650px;
	border: 1px solid var(--btngray);
	border-radius: 5px;
}

.preview_mode * > .edit_menue_wrapper, .preview_mode * > #mobile_edit_menue {
	left: 50%;
}

/* .header>.element_menue{
  top: 0;
  right: 0;
} */
/* .header:hover>.element_menue{
   display: inline-block!important;
} */
.edit_menue {
	display: none;
	height: 100%;
	position: relative;
}

.edit_menue_header {
	position: absolute;
	top: 15%;
	left: 5%;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
}

.edit_menue_inner {
	position: absolute !important;
	top: 60%;
	left: 5%;
	transform: translateY(-50%);
}

.edit_menue_inner > div {
	padding: 0 !important;
}

.edit_menue > .buttons {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	right: 5%;
}

.edit_menue > .edit_menue_inner {
	width: 70%;
}