#placement_menue {
	color: #fff;
}

#placement_menue > .edit_menue_inner > .inner_edit > button {
	color: #fff;
	background: none;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 3px 5px;
	margin: 0px 10px;
}

#placement_menue > div > div > select {
	margin: 0px 10px;
}

#placement_menue > div > div > span {
	margin-left: 0%;
}

#upload_logo {
	border: none !important;
	text-decoration: underline;
}

#placement_menue.edit_menue {
	width: 100%;
}

#placement_menue > .buttons {
	right: 5%;
	left: unset;
	float: right;
}

#placement_menue > .edit_menue_inner {
	width: 80%;
}

#placement_menue > .edit_menue_inner > .inner_edit {
	width: 60%;
}

select[name='namesize'] {
	background-image: url(/signed/src/icns/text_size_white.svg);
	background-position: 5px center;
	background-size: 15px;
	padding-left: 20px;
	padding-right: 0px;
	text-align-last: center;
	float: left;
	margin-right: 0 !important;
}

#name_uppercase {
	height: 21px;
	float: left;
	background-image: url(/signed/src/icns/capitalized_white.svg) !important;
	background-repeat: no-repeat !important;
	background-size: 12px !important;
	background-position: center !important;
	padding: unset 5px;
	width: 25px;
}

#name_uppercase[data-state='lowercase'] {
	background-image: url(/signed/src/icns/capitalized_gray.svg) !important;
	background-color: #fff;
}

#make_name_shadow {
	height: 21px;
	padding: unset 5px;
	width: 25px;
	float: left;
	font-weight: 600;
}

#make_name_shadow[data-state='shadow'] {
	background-color: #fff;
	color: var(--darkgray);
}

#name_center {
	height: 21px;
	padding: unset 5px;
	width: 25px;
	float: left;
	text-align: center;
	font-weight: 600;
}

#name_center.active {
	background-color: #fff;
	color: var(--darkergray);
}

#name_color {
	height: 21px;
	padding: unset 5px;
	width: 25px;
	float: left;
}

.inner_edit.logo {
	display: none;
}
