/*Text / Headline-Menü*/
.edit_menue > .edit_menue_inner > .text_editor_toolbar > .ql-align[value=''] {
	margin-left: 7%;
}

.edit_menue > .edit_menue_inner > .text_editor_toolbar > .ql-list[value='ordered'] {
	margin-left: 7%;
}

.edit_menue > .edit_menue_inner > .headline_editor_toolbar > .ql-align[value=''] {
	margin-left: 7%;
}